<div id="map-wrapper"> 
	    <div class="content">
		    
		    
		    <div id="content-page">
		    <h1>{$items.0.title}</h1>
		    <div class="seperator"></div>
		    <span>{$items.0.description_long}</span>
		    
		    </div>
		
	   </div> <!-- end content -->
	   <div class="seperator"></div>
   </div>
<div class="seperator"></div><div class="seperator"></div><div class="seperator"></div>