{foreach name=entry item=entry from=$menu}	
  		<li class="menu-item"><a href="/{$FRONT_LANG}/{$entry.link}.html" class="{if $entry.type eq 'cat' AND $entry.itemid eq $cat.categoryid}{$class}{elseif $entry.type eq 'item' AND $entry.itemid eq $item.id}{$class}{elseif $entry.type eq 'cat' AND $entry.itemid eq $cat.parentid}{$class}{elseif $area eq 'home' AND $entry.id eq 5}{$class}{/if}" title="{$entry.settings.title|default:$entry.title}">{$entry.title}</a></li>
 {/foreach} 

