<div id="map-wrapper"> 
	    <div class="content">
		    
		    
		    <div id="content-page">
		    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis luctus neque ultrices tempor. Cras mollis nunc ligula. Donec commodo, felis non tempus posuere, lorem augue sagittis nisi, nec molestie mauris justo sed enim. Nam vulputate mollis felis, at blandit arcu aliquam ac. Morbi rutrum porttitor tellus id mattis.</span>
		    <div class="seperator"></div>
		   <h1 class="float-left spacer-right">Your e-mail :</h1> <input type="text" class="float-left grey SearchText spacer-right" id="news-inpt" />
		   
		    <div class="">
				   		 <a href="#">
				   		 <img title="" alt="" src="/images/site/btn_finder.png">
				   		 <div class="subscribe-text">
				   		<span> SUBSCRIBE</span>
				   		 </div>
				   		 </a>
				   	</div>
		   
		    <div class="seperator-small"></div>
		    </div>
		
	   </div> <!-- end content -->
	   <div class="seperator"></div>
   </div>
<div class="seperator"></div><div class="seperator"></div><div class="seperator"></div>