<div class="toolbar">
{include file="modules/themes/pagination.tpl" prefix=$navPrefix ajax=$ajax}
<div class="sorter">
<p class="view-mode">
<label>View as:</label>
<strong title="Grid" class="grid">Grid</strong>
<a href="jewelrya927.html?mode=list" title="List" class="list">List</a>
</p>
<div class="limiter">
<label>Show</label>
<select onchange="setLocation(this.value)">
<option value="http://demo.dazmetech.com/mage3/index.php/jewelry.html?limit=12" selected="selected">10</option>
<option value="jewelry45c7.html?limit=24">30</option>
<option value="jewelry409f.html?limit=36">100</option>
</select> per page        
</div>

<div class="sort-by">
<label>Sort By</label>
<select>
<option value="http://demo.dazmetech.com/mage3/index.php/jewelry.html?dir=asc&amp;order=position" selected="selected">Position</option>
<option value="jewelry79f7.html?dir=asc&amp;order=name">Name</option>
<option value="jewelry6973.html?dir=asc&amp;order=price">Price</option>
</select>
<a href="jewelry00ea.html?dir=desc&amp;order=position" title="Set Descending Direction"><img src="/images/site/i_asc_arrow.gif" alt="Set Descending Direction" class="v-middle" /></a>
</div>
<div class="clear"></div>
</div><!-- END SORTER -->
</div><!-- END TOOLBAR -->