<TABLE border="0" cellpadding="2" cellspacing="1" width="100%">
<INPUT type="hidden" name="cat_org" value="{$smarty.get.cat|escape:"html"}">

<TR class="TableHead">
<TD width="2%" class="TableHead">{$lang.pos}</TD>
<TD class="TableHead">{$lang.productid}</TD>
<TD class="TableHead">{$lang.title}</TD>
<td class="TableHead">&nbsp;</td>
</TR>
{if $links}
{section name=a loop=$links}
<TR {cycle values=", class='TableSubHead'"}>
<TD width="2%"><input name="orderby-{$links[a].id}" type="text" value="{$links[a].orderby}" size="3" maxlength="3"></TD>
<TD>#{$links[a].id}</TD>
<TD><a href="products_modify.php?id={$links[a].id}" class="ItemsList">{$links[a].title}</a></TD>
<td><input name="button2" type=button value="{$lang.delete}"  onclick="deleteRelated({$links[a].id},'related_products');"></td>

</TR>
{/section}

{else}
<TR>
<TD colspan="5" align="center">{$lang.txt_no_items}</TD>
</TR>
{/if}
</table>