<script id="payment" type="text/kendo-ui-template" data-script="/scripts/hotelier/tpls/payment.js" data-type="text">    
<div id="payment" >
<div class="span9">
         <div class="navbar">
    <div class="navbar-inner">
    <span class="brand tip help" data-original-title="From here you can manage your profile blah blah" rel="tooltip" data-placement="top" ><i class="icon-user"></i></span>
    <ul class="nav">
    <li ><a href="\\#profileManager/account">Account Information</a></li>
    <li  class="active"><a href="\\#profileManager/payment">Payment Methods</a></li>
    <li ><a href="\\#profileManager/billing_profiles">Billing Profiles</a></li>
    <li><a href="\\#profileManager/email_notification">E-mail Notification</a></li>
    <li><a href="\\#profileManager/change_password">Change Password</a></li>
    </ul>
    </div>
    </div>

Payment

          </div> <!-- end span9 -->
</div>
</script>