@charset "utf-8";
/************* CSS Document for dekoho.com *************/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
  margin:0;
  padding:0;
  border:0;
  vertical-align:baseline;
}

body
{
  background: #fff;
  font-size: 12px;
  font-family:Helvetica, Verdana, Tahoma, Geneva, sans-serif;	
  line-height:1.5;
}

/************* General CSS *************/

.tac { text-align:center; }
.hidden {display:none; }
.float-left { float:left; }
.float-right { float:right;}
.spacer-left { margin-left:10px;}
.spacer-right { margin-right:10px;}
.spacer-top { margin-top:10px;}
.spacer-bottom { margin-bottom:10px;}
.seperator { height:10px; clear:both; }
.padding { padding: 10px; }
.padding-left { padding-left: 10px; }
.padding-right { padding-right: 10px; }
.padding-top { padding-top: 10px; }
.padding-top-small { padding-top: 5px; }
.padding-bottom { padding-bottom: 10px; }
.clear { clear:both; }
.clear_0 { clear:both; font-size:0px; line-height:0px; display:block; }
.last { margin:0 !important; }
.pad_last { padding:0 !important; }
.no_bg { background:none !important; }
.inline-block { display: inline-block; }
.line-through { text-decoration: line-through; }
h1 { font-size:26px; }
h2 { font-size:24px; }
h3 { font-size:22px; }
h4 { font-size:20px; }
h5 { font-size:14px; }
.seperator-small { clear:both; height:1px; }
a {text-decoration: none;}
.width116 {width:116px;}
.font15 {font-size:15px;}
.font13 {font-size:11px;}
.font36 {font-size:36px;}
.font22 {font-size:22px;}
.width130{width:130px;}
.width423{width:423px;}
.italic {font-style:italic;}
.width134 {width:134px;}
.bold-hotelier {font-weight:bold; margin-left:45px;}
#z999 {z-index:199;}
/************* end General CSS *************/


/************* Wrappers - Site Containers *************/

#wrapper { }

#header-wrapper 
{
  height: 20px;
  background-color:#7c7a7b;	
  width:100%;
  margin:0;
  padding:5px 0px 5px 0px;
  z-index: 999;
  position:relative;
} 

.header 
{
  width: 1250px;
  margin: auto;
  z-index: 99;
  position: relative;
}

.content 
{
  width: 1000px;
  margin: auto;
  z-index: 99;
  position: relative;
}

#top-wrapper
{
  margin: 0;
  width: 100%;
  padding:0px 0px 0px 0px; 
}
	
#map-wrapper 
{
  background-color:#95bde0;	
  width:100%;
  margin:0;
  padding:25px 0px 15px 0px;
} 

#page-wrapper
{
  margin: 0;
  width: 100%;
  padding:30px 0px 25px 0px;
}

.left-column-main
{  
  width:300px; 
  float:left; 
  margin:0px 50px 0px 0px; 
}

.right-column-main
{ 
  width: 650px; 
  float:left; 
}

.left-column-inner
{
  width:255px; 
  float:left; 
  margin:0px 50px 0px 0px; 
}		

.right-column-inner
{ 
  width: 695px; 
  float:left; 
}

#footer-wrapper
{
  margin: 0;
  width: 100%;
  padding:0px 0px 20px 0px;
  position:relative;
  z-index:1;
}
		
/************* end Wrappers - Site Containers *************/




/************* Site Stuff *************/



/************* Top Menu / Bar *************/

.top-menu { }

.menu-item
{
  float:left; 
  padding-right:22px; 
  list-style-type:none;
}			

.menu-item a 
{
	
  color:#fff;
  text-decoration:none;
}		

.menu-item a:hover
{
  color:#fff;
  text-decoration:underline;	
}

.menu-item .active 
{
  /*font-weight:bold;*/
  text-decoration:underline;	
}

#social {margin-right:25px;}
.social-icons
{
  padding-right:20px;	
}

.icon
{
  float:left;
  padding-right:5px;
  list-style-type:none;
}

#currency-language span
{
  color:#fff;	
  
}		

.currency
{
  padding-right:10px;	
}		
.flag{ position:relative; top:2px; }

.flag-hidden{ position:relative; top:2px; right:5px; }

.all-currency {min-width:100px; height: 200px; overflow-y:auto; margin-top:7px; left: -50px;}

/************* end Top Menu / Bar *************/



/************* Logo and Top banner *************/

#logo-banner-container
{
  padding:30px 0px 30px 0px;  	
}

/************* end Logo and Top banner *************/



/************* Search and Google Map *************/

#search 
{
  width:288px; 
  float:left; 
  background-color:#E9E5E6;
  border-top:2px solid;
  border-left:2px solid;
  border-color:#fff;
  z-index:1000;
  position:absolute;
  display:block;
}

.search-item
{
  float:left;
  list-style-type: none;
  background: url("/images/site/finder_tab.png") repeat-x scroll left top transparent;
  /*background-color:#7baad8;*/
  height:28px;
  width:95px;
  text-align:center;
  border-right:1px solid;
  border-color:#fff;
  padding-top:7px;	
}

.active-search 
{ 
  background: url("/images/site/finder_tab_active.png") repeat-x scroll left top transparent; 
}

.search-item a
{
  text-decoration:none;	
  color:#fff;
  font-size:12px;
}	

#map-filters
{
  padding:0px 0px 0px 21px;	
}

.map-filter-item
{
  float:left;
  padding-bottom:10px;	
}		

.map-filter-item span,.map-filter-item p
{
  color:#585858;
  font-weight:bold;
}

.map-filter-item p 
{ 
  width:132px;
}

.SearchText 
{
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #ADADAD #D9D9D9 #D9D9D9 #ADADAD;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  height: 18px;
  padding: 5px 8px;
  width: 228px;
}

.SearchText-small
{
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #ADADAD #D9D9D9 #D9D9D9 #ADADAD;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  height: 18px;
  padding: 5px 8px;
  width: 95px;
  margin-right:20px;
}

.SearchText-mini
{
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #ADADAD #D9D9D9 #D9D9D9 #ADADAD;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  height: 18px;
  padding: 5px 8px;
  width: 58px;
  margin-right:0px;
}



.grey 
{ 
  color:#585858;
}

.selectrooms-persons 
{
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #ADADAD #D9D9D9 #D9D9D9 #ADADAD;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  font-size: 13px;
  height: 33px;
  padding: 5px 8px;
  width:110px;
  margin-right:23px;
}

.more-criteria
{
  float:left;
  padding-bottom:10px;	 	
}

.more-criteria a
{
  text-decoration:none;	
  color:#585858;
  font-size:11px;
  padding-left:5px;
}

.more-criteria a:hover
{
  text-decoration:underline;	
  color:#585858;
}

.find-out 
{
  position:relative;
}

.find-out-text 
{
  position:absolute;
  top:8px;
  left:10px;
}

.find-out-text span 
{ 
  color:#fff; 
  text-decoration:none; 
  font-size:20px; 
  font-weight:bold;
}
.hidden-rooms {position:relative; top:40px;}

.main-search-title span:hover
{
  text-decoration:underline;
}

#map-cont {width:708px; height:393px; margin-left:288px;}
/************* end Search and Google Map *************/


/************* Special offers main Page *************/

#special-offers { }

#special-offers h2 
{
  color:#195287;
}	

.special-offers-menu
{
  padding-top:10px;
}	

.special-item
{
  color: #5b97d5;
  float: left;
  list-style-type: none;
  padding:0px 10px 3px 0px;
}

.special-item a
{
  text-decoration:none;
  color: #5b97d5;
}  

.special-item a:hover
{
  text-decoration:underline;
}

.special-item-back
{
  color: #5b97d5;
  float: left;
  list-style-type: none;
  padding:0px 30px 3px 0px;
}

.special-item-back a
{
  text-decoration:underline;
  color: #468847;
  font-size:16px;
  font-weight:bold;
}  



.special-item .active 
{
  font-weight: bold;
  color:#326497;
}

.special-hotel
{ 
  float:left;
  width:310px;
  padding:25px 30px 0px 0px;
}

.special-hotel-last
{ 
  float:left;	
  width:310px;
  padding:25px 0px 0px 0px;
}

.hotel-info
{
  float:left;
  padding:10px;	
  width:300px;
}

.hotel-info span 
{
  color:#04478b;
  font-weight:bold;
  padding-bottom:5px;	
}

.hotel-info .hotel-details a
{
  color:#ce5f03;
  font-size:10px;
  font-weight:normal;
  text-decoration:none;	
}

.hotel-info .hotel-details a:hover
{
  color:#ce5f03;
  font-size:11px;
  text-decoration:underline;	
}

.hotel-info .orange {
    color: #ce5f03;
    font-weight: bold;
    font-size:10px;
    padding-bottom: 5px;
    width:290px;
}

.hotel-info .blue
{
  font-size:10px;	
}

.htl-btn
{
  float:right;
  margin-top:-10px;	
}

/************* end Special offers main Page *************/


/************* Search Results *************/

#search-filters
{
  width:255px;
  background-color:#e9e5e6;	
}

.filter-header
{ 
  padding:10px 0px 3px 0px; 
}

.filter-img
{
  padding:0px 5px 0px 25px;
  position:relative;
  top:2px;
}

.filter-header span
{
font-weight:bold;
color:#3d3d3d;
}

.filter
{	
  padding:0px 0px 0px 45px;
  list-style:none;
}

.filter-item 
{
  display:none;
}

.filter-item + label
{
  color:#3d3d3d;
}

.filter-item + label span 
{
  display:inline-block;
  width:16px;
  height:17px;
  margin:1px 4px 0px 0px;
  vertical-align:middle;
  background:url(/images/site/checkbox.png) left top no-repeat;
  cursor:pointer;
}

.filter-item:checked + label span 
{
  background:url(/images/site/checkbox-checked.jpg) left top no-repeat;
}

.finder h5
{
  color:#3c3e3d;
  float:left;	
}

.hotel-rslt
{
   background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 8px 8px 8px #CCC;
     border-top: 3px solid #4dbfd9;
    padding: 18px;
    margin-top: 12px;
}

.finder-info {width: 483px; }

.finder-title 
{
  color:#3C3E3D;
  font-weight:bold;	
  position: relative;
    top: 2px;
}

.reserv .filter-item + label 
{
  color: #3D3D3D;
  font-size:10px;
  padding-left:10px;
  position:relative;
  top:2px;
}

.reserv-info
{	
  color: #3D3D3D;
  font-size:10px;
  position:relative;
  top:4px;
}
	
.map-pages {
padding-left:10px;	
}	

.pagination ul {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}

.pagination ul > li {
    display: inline;
    line-height: 20px;
}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
    border-top-left-radius: 4px;
}
.pagination ul > li > a, .pagination ul > li > span {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    float: left;
    line-height: 20px;
    padding: 4px 12px;
    text-decoration: none;
    color: #0088CC;
}
.pagination ul > .active > a, .pagination ul > .active > span {
    color: #999999;
    cursor: default;
}

.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #F5F5F5;
}

.hotel-title-map { color:#424443; font-size:16px;}
.from-map {position:relative; top:5px; color:#424443;}
.from-map-price {position:relative; top:5px; color:#326497; font-size:14px;}
.hotel-price-results {color: #326497; font-size: 14px;}

/************* end Search Results *************/

/************* Content Pages *************/
#content-page
{
  background-color: #FFFFFF;
  padding: 20px;	
}	

#content-page span 
{
line-height:22px;
}		

.subscribe-text 
{
    left: 670px;
    position: absolute;
    top: 107px;
}
.subscribe-text  span {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
#news-inpt
{
width:400px;
font-size:16px;
height:32px;	
}		
/************* end Content Pages *************/

/************* Hotel Pages *************/

#hotel_header 
{ 
  width:400px; 
}

#hotel_header span
{
  color:#326497;
}

#hotel_header .title 
{ 
  font-size:20px;
}

#hotel_header .star 
{ 
  position:relative; 
  top:7px;
}

.img-hotel-small 
{ 
  padding:0px 20px 24px 0px; 
}

.hotel-info-container {}

.hotel-info-container .title 
{
  color:#4e4c4d; 
  font-size:18px; 
  line-height:22px; 
  font-style:italic;
}

.hotel-info-container .description 
{
  color:#4e4c4d; 
  line-height:22px;
}

.main-room .room-desc 
{
  width:300px;
}

.main-room .room-desc .title 
{
  color:#4e4c4d; 
  font-size:18px; 
  line-height:22px; 
  font-style:italic;
 }

.main-room .room-desc .description 
{ 
  color:#4e4c4d; 
  line-height:18px;
}

.room-images 
{
  width:220px;
  padding-right:10px;
}

.img-room-small 
{
  padding:0px 10px 12px 0px;
}

.more-rooms-container .dotted-seperator 
{
  border-top:2px dashed; 
  border-color:#d3d1d2;
}

.more-rooms-container .more-room 
{ 
  padding:10px 0px 10px 10px; 
}

.more-room .title 
{
  color:#4e4c4d; 
  font-size:18px; 
  line-height:22px; 
  font-style:italic;
}

.more-room .description 
{
  color:#4e4c4d;  
  line-height:22px; 
}

.img-room-small-more 
{
  padding-left:10px;
}

.more-room .room-price 
{
  font-size:22px;
  color:#1b93ac; 
  font-weight:bold; 
  padding-left:40px;
}

.more-room .room-price-filter 
{
  font-size:18px;
  color:#1b93ac; 
  font-weight:bold; 
 
}


.more-room .the-room 
{
  padding-top:13px;
  width: 220px;
}

.location-items-container h2 
{
  font-size:18px; 
  color:#326497;
  font-style:italic;
  padding-right:4px;
}

.the-line
{
  background: url("/images/site/dashed-line.jpg") repeat-x scroll left top;
  width:65%;
  float:left;
  height:5px;
  margin-top: 14px;
}


#contact-container 
{
  background-color:#f2efef;
  padding:20px 70px 10px 20px;
   border-radius: 4px 4px 4px 4px;
}		

#contact-container .contact-details
{
  margin-left:300px;	
}
#contact-container .contact-details span 
{
color:#4E4C4D;	
}	
		
#contact-container .contact-item {
    float: left;
    padding-bottom: 10px;
    clear:both;
}

#contact-container .contact-item span {
color:#4E4C4D;
	
}

#location-hotspots-items 
{
	
}

.icons-hot-spots {position:relative; top:4px;}

.loc-title 
{
font-size:16px;
font-style:italic;
color:#4E4C4D;
}

.loc-description 
{
padding-left:33px;
}	
	
.loc-desc 
{

/*font-style:italic;*/
color:#4E4C4D;
}

#loc-hot-all-items
{
padding-left:40px;
}

.loc-spot-item
{	
padding-bottom:15px;
width:230px;
}

.book-room-btn
{
  
   padding: 9px 16px 6px 15px; 
 
}		
.book-room-btn span{color:#fff; font-size:16px; }

.special-top-hotel {
color:#4E4C4D;
font-size:14px;
font-style:italic;

}

.special-hotel-color
{
  color:#f66a1d;
  font-size:13px;
  font-style:italic;	
}
#font15 {font-size:15px;}
#special-top-room {width:310px;}
.book-special-btn {  background-image: url("/images/site/book-this.jpg");
    line-height: 32px;
    padding: 9px 22px 6px 22px;
    text-decoration: none; }
    
  .book-special-btn span {
    color: #FFFFFF;
    font-size: 18px;
    font-weight:bold;
}
.top60 {padding-top:60px;}
.top20 {padding-top:20px;}

/************* end Hotel Pages *************/
	
/************* Bottom banner and Footer *************/

#bottom-banner
{
  padding-bottom:30px;		
}	

.bottom-menu-item
{
  color:#413f40;
  float:left; 
  padding-right:10px; 
  list-style-type:none;
}			

.bottom-menu-item a 
{
  color:#413f40;
  text-decoration:none;
}		

.bottom-menu-item a:hover
{
  color:#413f40;
  text-decoration:underline;	
}

.copy
{
  color:#413f40;
}

/************* end Bottom banner and Footer *************/

/************* end Site Stuff *************/


label.checkbox, label.radio {
	width:auto;
	height:auto;
	position:relative;
	margin-top:5px;
	margin-right:15px;
	padding-top:5px !important
}
div.checker {
	height:18px;
	width:19px
}
div.checker input {
	height:18px;
	width:19px
}
div.checker span {
	background-position:0 -469px;
	height:18px;
	width:19px
}
div.checker span.checked {
	background-position:0 -135px
}
div.radio {
	height:16px;
	width:16px
}
div.radio input {
	height:16px;
	width:16px
}
div.radio span {
	background-position:0 -153px;
	height:16px;
	width:16px
}
div.radio span.checked {
	background-position:0 -119px;
	height:16px;
	width:16px
}
div.checker, div.radio {
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:middle;
	zoom:1;
*display:inline
}
.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus {
	outline:0
}
div.checker {
	position:relative;
	margin-right:7px;
	float:left;
	margin-top:-5px
}
div.checker span {
	display:-moz-inline-box;
	display:inline-block;
	text-align:center
}
div.checker input {
	opacity:0;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	display:inline-block;
	background:none
}
div.radio {
	position:relative;
	margin-right:7px;
	float:left;
	margin-top:-4px
}
div.radio span {
	display:-moz-inline-box;
	display:inline-block;
	text-align:center
}
div.radio input {
	opacity:0;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	text-align:center;
	display:inline-block;
	background:none
}
.options { margin-left:25px; }
.searchForm input.ng-invalid.ng-dirty, .searchForm textarea.ng-invalid.ng-dirty {
background-color: #FA787E;
}

.searchForm input.ng-valid.ng-dirty, .searchForm textarea.ng-valid.ng-dirty {
background-color: #bbefa9;
}
.ui-menu-item {
margin: 0;
padding: 0;
position: relative;
line-height: 1.5;
text-align: left;
width: 100%;
overflow: hidden;
}

.ui-menu-item a {
color: #003580!important;
display: block;
text-decoration: none;
padding: .2em .4em .2em 21px;
background-repeat: no-repeat;
background-position: 2px 4px;
white-space: nowrap;
zoom: 1;
}
.autocomplete_header {
position: absolute;
right: 3px;
top: 3px;
zoom: 1;
padding-right: 21px;
background-position: right 0;
background-repeat: no-repeat;
background-color: #FFF;
padding-left: 8px;
}

.icon_city {background-image: url("/images/icons/icon-city.png");}
.icon_region {background-image: url("/images/icons/icon-city.png");}
.icon_country{}

.pagination li { float:left; margin-right:10px; list-style:none; }
/*.pagination .active { font-weight:bold; 
    color: #999999;
    cursor: default;
}*/

/************************ Reservartion Form **************/

.form-horizontal{ background-color:#d0dce6; padding:15px; border-radius: 4px 4px 4px 4px; }

.form-horizontal .individual { padding-left:195px; color:#535354; }
.form-horizontal .company { padding-left:268px; color:#535354; }


.form-horizontal .control-group:after {
    clear: both;
}

.form-horizontal .control-group:before, .form-horizontal .control-group:after {
    content: "";
    display: table;
    line-height: 0;
}

.form-horizontal .control-group:before, .form-horizontal .control-group:after {
    content: "";
    display: table;
    line-height: 0;
}

.form-horizontal .control-group {
    margin-bottom: 20px;
}

.control-group {
    margin-bottom: 10px;
}

.form-horizontal .control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width:260px;
    color:#535354;
}

.form-horizontal label {
    display: block;
    margin-bottom: 5px;
}

.form-horizontal label, input, button, select, textarea {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}

.form-horizontal .controls {
    margin-left: 280px;
}
.form-horizontal .ReservationText {
 -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    border-radius: 4px 4px 4px 4px;
    color:#535354;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    width:370px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}
#reservation-country {width:180px; margin-right:4px;}

.hotel-reservation-title {
    font-size: 20px;
    color: #326497;
}
.hotel-reservation-star { position: relative; top: 7px;}
.hotel-reservation-address {color: #326497;}
.reservation-total{color: #CE5F03; font-size: 11px; font-weight: bold;}
.reservation-total-ammount {color: #326497; font-weight:bold;}

.case-company {color: #535354; text-align:left; text-decoration:underline; font-weight:bold;}
.payment-type span {color:#535354;}
.payment {position:relative; top:5px;}
#all-payment-types span {color:#535354;}
#pay_hotel {padding-top:30px;}
#pay_bank_tr {padding-top:10px;}
#select-payment-type {text-decoration:underline; font-size:14px;}

.succ-reserv {
    background-color: #95BDE0;
    border: 1px solid #95BDE0;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 12px;
    text-align:center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.succ-reserv h4 {
    color: #4682C0;
    font-size:14px;
}


/************************ end Reservartion Form **************/




/************************ Bootstrap buttons **************/
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}

.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}

.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-link {
  color: #0088cc;
  cursor: pointer;
  border-color: transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-link:hover {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover {
  color: #333333;
  text-decoration: none;
}

.btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1;
}

.btn-group:first-child {
  *margin-left: 0;
}

.btn-group + .btn-group {
  margin-left: 5px;
}

.btn-toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0;
}

.btn-toolbar > .btn + .btn,
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn + .btn-group {
  margin-left: 5px;
}

.btn-group > .btn {
  position: relative;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-group > .btn + .btn {
  margin-left: -1px;
}

.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 12px;
}

.btn-group > .btn-mini {
  font-size: 10.5px;
}

.btn-group > .btn-small {
  font-size: 11.9px;
}

.btn-group > .btn-large {
  font-size: 17.5px;
}

.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}

.btn-group > .btn + .dropdown-toggle {
  *padding-top: 5px;
  padding-right: 8px;
  *padding-bottom: 5px;
  padding-left: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group > .btn-mini + .dropdown-toggle {
  *padding-top: 2px;
  padding-right: 5px;
  *padding-bottom: 2px;
  padding-left: 5px;
}

.btn-group > .btn-small + .dropdown-toggle {
  *padding-top: 5px;
  *padding-bottom: 4px;
}

.btn-group > .btn-large + .dropdown-toggle {
  *padding-top: 7px;
  padding-right: 12px;
  *padding-bottom: 7px;
  padding-left: 12px;
}

.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group.open .btn.dropdown-toggle {
  background-color: #e6e6e6;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #0044cc;
}

.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #f89406;
}

.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #bd362f;
}

.btn-group.open .btn-success.dropdown-toggle {
  background-color: #51a351;
}

.btn-group.open .btn-info.dropdown-toggle {
  background-color: #2f96b4;
}

.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222;
}

.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}

.btn-mini .caret,
.btn-small .caret,
.btn-large .caret {
  margin-top: 6px;
}

.btn-large .caret {
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
}

.dropup .btn-large .caret {
  border-bottom-width: 5px;
}

.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-group-vertical {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}

.btn-group-vertical > .btn {
  display: block;
  float: none;
  max-width: 100%;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-group-vertical > .btn + .btn {
  margin-top: -1px;
  margin-left: 0;
}

.btn-group-vertical > .btn:first-child {
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.btn-group-vertical > .btn:last-child {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.btn-group-vertical > .btn-large:first-child {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}

.btn-group-vertical > .btn-large:last-child {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}


.label-info, .badge-info {
    background-color: #3A87AD;
}

.label {
    border-radius: 3px 3px 3px 3px;
}

.label, .badge {
    /*background-color: #999999;*/
    color: #FFFFFF;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    padding: 2px 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}
.label-success, .badge-success {
background-color: #468847;
}

.label-important, .badge-important {
background-color: #B2081C;
}



/************* Drop Down *************/



.nav {
    list-style: none outside none;
} 
.dropdown-toggle {
    color: #fff;
    text-decoration: none;
}
.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle {
  *margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 120px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #7C7A7B;
  background-image: -moz-linear-gradient(top, #7C7A7B, #7C7A7B);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: #999999;
}

.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open {
  *z-index: 1000;
}

.open > .dropdown-menu {
  display: block;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
     -moz-border-radius: 0 6px 6px 6px;
          border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  -webkit-border-radius: 5px 5px 5px 0;
  -moz-border-radius: 5px 5px 5px 0;
  border-radius: 5px 5px 5px 0;
}

.dropdown-submenu > a:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: -10px;
  border-color: transparent;
  border-left-color: #cccccc;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
     -moz-border-radius: 6px 0 6px 6px;
          border-radius: 6px 0 6px 6px;
}

.dropdown .dropdown-menu .nav-header {
  padding-right: 20px;
  padding-left: 20px;
}

.alert, .alert h4 {
    color: #C09853;
}

.alert {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 12px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.asceding {position:relative; bottom:5px;}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 10%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .close {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 12px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}


/************* End Drop Down *************/


/************* Popover *************/


.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  width: 450px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}
/*
.popover-title {
  padding: 8px 12px;
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
}

.popover-content {
  padding: 9px 12px;
}
*/
.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover .arrow {
  border-width: 11px;
}

.popover .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}

.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
}

.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
}

.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}

.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
}

.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}

.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
}


.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

/*************End Popover *************/


.input-append,
.input-prepend {
  margin-bottom: 5px;
  font-size: 0;
  white-space: nowrap;
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
  z-index: 2;
}

.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}

.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-append .btn-group > .dropdown-toggle,
.input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-append .active,
.input-prepend .active {
  background-color: #a9dba9;
  border-color: #46a546;
}

.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}

.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.input-append input + .btn-group .btn:last-child,
.input-append select + .btn-group .btn:last-child,
.input-append .uneditable-input + .btn-group .btn:last-child {
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.input-append .add-on,
.input-append .btn,
.input-append .btn-group {
  margin-left: -1px;
}

.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-prepend.input-append input + .btn-group .btn,
.input-prepend.input-append select + .btn-group .btn,
.input-prepend.input-append .uneditable-input + .btn-group .btn {
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.input-prepend.input-append .btn-group:first-child {
  margin-left: 0;
}