<?xml version="1.0" encoding="utf-8" ?>
      <DtsAgencyLoginMessage xmlns="DTS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		  <LoginInfo>
    		 <AgencyID>{$AgencyID}</AgencyID>
    		 <AgentID>lhcxml</AgentID>
   		     <AgentPassword>testxml</AgentPassword>
         </LoginInfo>
     </DtsAgencyLoginMessage>