<?xml version="1.0" encoding="utf-8" ?>
<DtsBookRequestMessage xmlns="DTS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SessionInfo>
    <SessionID>{$Booking.SessionID}</SessionID>
    <Profile>A</Profile>
    <Language>ENG</Language>
    <Version>1</Version>
  </SessionInfo>
  <BookingAction>
    <BookOrQuote>B</BookOrQuote>
  </BookingAction>
  <BookingContext>
    <AgencyID>0000002</AgencyID>
    <BookingContactName>{$Booking.BookingContactName}</BookingContactName>
    <MarketCode>{$Booking.MarketCode}</MarketCode>
    <BookingCurrencyCode>EUR</BookingCurrencyCode>
    <LanguageCode>ENG</LanguageCode>
    <OfficeCode>{$Booking.OfficeCode}</OfficeCode>
    <AgencyReference>1234567</AgencyReference>
  </BookingContext>
  <ParticipantList>
    {section name=a loop=$Booking.NoAdults step=1}
    <ParticipantData>
      <PersonNo>{$Booking['PersonNo'|cat:$smarty.section.a.index]}</PersonNo>
      <LastName>{$Booking['LastName'|cat:$smarty.section.a.index]}</LastName>
      <FirstName>{$Booking['FirstName'|cat:$smarty.section.a.index]}</FirstName>
      <PersonType>{$Booking['PersonType'|cat:$smarty.section.a.index]}</PersonType>
      <DateOfBirth>{$Booking['YearOfBirth'|cat:$smarty.section.a.index]}-{$Booking['MonthOfBirth'|cat:$smarty.section.a.index]}-{$Booking['DayOfBirth'|cat:$smarty.section.a.index]}</DateOfBirth>
      <Gender>{$Booking['Gender'|cat:$smarty.section.a.index]}</Gender>
      <Title/>
      <LanguageCode>{$Booking['LanguageCode'|cat:$smarty.section.a.index]}</LanguageCode>
      <NationalityCode>{$Booking['NationalityCode'|cat:$smarty.section.a.index]}</NationalityCode>
      <PassportData>
      <PassportNo>{$Booking['PassportNo'|cat:$smarty.section.a.index]}</PassportNo>
      <PassportExpireDate>{$Booking['YearOfPassport'|cat:$smarty.section.a.index]}-{$Booking['MonthOfPassport'|cat:$smarty.section.a.index]}-{$Booking['DayOfPassport'|cat:$smarty.section.a.index]}</PassportExpireDate>
      </PassportData>
    </ParticipantData>
     {/section}
     {if $Booking.NoChildren gt 0}
     {section name=a loop=$Booking.NoChildren step=1}
    <ParticipantData>
      <PersonNo>{$Booking['ChildPersonNo'|cat:$smarty.section.a.index]}</PersonNo>
      <LastName>{$Booking['ChildLastName'|cat:$smarty.section.a.index]}</LastName>
      <FirstName>{$Booking['ChildFirstName'|cat:$smarty.section.a.index]}</FirstName>
      <PersonType>{$Booking['ChildPersonType'|cat:$smarty.section.a.index]}</PersonType>
      <DateOfBirth>{$Booking['ChildYearOfBirth'|cat:$smarty.section.a.index]}-{$Booking['ChildMonthOfBirth'|cat:$smarty.section.a.index]}-{$Booking['ChildDayOfBirth'|cat:$smarty.section.a.index]}</DateOfBirth>
      <Gender>{$Booking['ChildGender'|cat:$smarty.section.a.index]}</Gender>
      <Title/>
      <LanguageCode>{$Booking['ChildLanguageCode'|cat:$smarty.section.a.index]}</LanguageCode>
      <NationalityCode>{$Booking['ChildNationalityCode'|cat:$smarty.section.a.index]}</NationalityCode>
      <PassportData>
      <PassportNo>{$Booking['ChildPassportNo'|cat:$smarty.section.a.index]}</PassportNo>
      <PassportExpireDate>{$Booking['ChildYearOfPassport'|cat:$smarty.section.a.index]}-{$Booking['ChildMonthOfPassport'|cat:$smarty.section.a.index]}-{$Booking['ChildDayOfPassport'|cat:$smarty.section.a.index]}</PassportExpireDate>
      </PassportData>
    </ParticipantData>
     {/section}    
     {/if}
  </ParticipantList>
  <ComponentsToBook>
    <ComponentDetails>
      <ComponentID>{$Booking.ComponentID}</ComponentID>
      <CategoryCode>{$Booking.CategoryCode}</CategoryCode>
      <CabinNo>{$Booking.CabinNo}</CabinNo>
    </ComponentDetails>
  </ComponentsToBook>
  <BookingAddress>
  <Email>{$Booking.Email}</Email>
  </BookingAddress>
</DtsBookRequestMessage>