
<input type="hidden" value="{$session_id}" class="UserData" name="SessionID" id="SessionID"/>
<input type="hidden" value="B2C-Booking" class="UserData" name="BookingContactName" id="BookingContactName"/>


<div class="top-links">
			<ul>
				<li><a href="/en/index.html">Home </a></li>				
								<li><a class="active" href="#">Book your Cruise</a></li>
				
			</ul>
		</div>
         
      <br class="clear"/>
      <div class="spacer-40"></div>
      <div class="blueHeader">
     		 <h2>
     		 	<span>1.<span id="HeaderBr" class="UpdateHeader"> Your Cruise&nbsp;&nbsp;</span></span>
     		 	<span>2.<span id="HeaderBrDtsCruiseCategoryAvailabilityRequest" class="hidden UpdateHeader"> Your Stateroom&nbsp;&nbsp;</span></span>
     		 	<span>3.<span id="HeaderBrBookForm" class="hidden UpdateHeader"> Your Data&nbsp;&nbsp;</span></span>
     		 	<span>4.<span id="HeaderBrDtsBookRequestMessage" class="hidden UpdateHeader"> Ammount&nbsp;&nbsp;</span></span>
     		 	<span class="firstHeader">5.<span id="HeaderBr" class="UpdateHeader firstHeader"> Confirmation&nbsp;&nbsp;</span></span>
     		 </h2>
      </div>
         
<div class="seperator"></div><div class="seperator"></div><div class="seperator"></div>
 
      <div class="booking">
<div class="left_column">
		<div id="myDiv">
		<div id="first-form" class="main">
			<h3>Payment Status </h3>
			<div id="first-step">
			 <span></span>
			 </div>
			
		<div class="main-selection">
		{if $smarty.get.rslt eq "AUTHORISED"}
		
		You payment was successful. An e-mail has been sent to you will all the cruise details. 
		{else}
		
		
		The payment was unsuccessful.
		
		{/if}
		</div>
		</div>
			</div> <!-- end myDiv -->
		<div class="seperator"></div><div class="seperator"></div><div class="seperator"></div>
	  </div> <!-- left -->
	  <!-- 
	  <div class="right_column">
	  <div class="blueHeader-right">
                	<h2>Your Cruise</h2>
                </div>
	  <div id="cruise-info">
	  <h6>Jewels of the Aegean</h6>
	  <div class="first-left"><span>7 day cruise</span></div>
	  <div class="left-text"><span>Cruise from Athens(Piraeus) to Istanbul, Izmir, Mykonos, Kusadasi, Patmos, Rhodes, Crete(Hereaklion) </span></div>
	  <div class="seperator"></div>
	  <div class="first-left"><span>Ship</span><p>Luis Crystal</p></div>
	  <div class="seperator"></div>
	  <div class="first-left"><span>Depart at</span><p>31-11-2012</p></div>
	  <div class="seperator"></div>
	  </div>
	  <div id="safe"><span>You are safe with us</span><div class="seperator"></div>
	  <img width="110" height="41" alt="" src="/images/site/add6.gif">
	  <img width="135" height="31" alt="" src="/images/site/add7.gif">
	  </div>
	  </div>
	  -->
	  </div>
	  <br class="clear"/>
<div class="spacer-40"></div>
<div id="windowpopup"></div>
<script type="text/javascript">
head.js('/scripts/kendo/js/kendo.web.min.js');
head.js('/scripts/site/validate_booking.js');
head.js('/scripts/site/booking_plugin.js');
head.js('/scripts/site/script.js');
</script>

 