<ul id="adminmenu2">
	<li><a href="index.php" {if $submenu eq "main"}class="current1"{/if}>{$lang.home}</a></li>
    <li><a href="connections.php" {if $submenu eq "connections"}class="current1"{/if}>{$lang.connections}</a></li>
    <li><a href="routes.php" {if $submenu eq "routes"}class="current1"{/if}>{$lang.routes}</a></li>
</ul>