<p>&nbsp;</p>
<table width="162" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="12"><img src="{$ImagesDir}/individual/admin/corner_top_lft.gif" width="12" height="15"></td>
    <td background="{$ImagesDir}/individual/admin/menu_top_filler.gif"><FONT color=#FF9E0E><strong>{$lang.management}</strong></FONT></td>
    <td width="12"><img src="{$ImagesDir}/individual/admin/corner_top_right.gif" width="12" height="15" align="right"></td>
  </tr>
</table>
<table width="162"  border="0" cellspacing="0" cellpadding="0">
    <tr bgcolor="#ECF0F6">
    <td width="12"><img src="{$ImagesDir}/individual/admin/arrow_trp.png" width="7" height="7"></td>
    <td width="138"><a href="{$ADMIN_URL}/orders.php" class="menulist">Orders</a></td>
    <td width="12"></td>
  </tr>
  <tr bgcolor="#ECF0F6">
    <td width="12"><img src="{$ImagesDir}/individual/admin/arrow_trp.png" width="7" height="7"></td>
    <td width="138"><a href="{$ADMIN_URL}/settings.php" class="menulist">{$lang.general_settings}</a></td>
    <td width="12"></td>
  </tr>
  <tr bgcolor="#ECF0F6">
    <td><img src="{$ImagesDir}/individual/admin/arrow_trp.png" width="7" height="7"></td>
    <td><a href="{$ADMIN_URL}/users.php" class="menulist">{$lang.manage_users}</a></td>
    <td></td>
  </tr>
  <tr bgcolor="#ECF0F6">
    <td><img src="{$ImagesDir}/individual/admin/arrow_trp.png" width="7" height="7"></td>
    <td><a href="{$ADMIN_URL}/content.php" class="menulist">{$lang.modify} {$lang.content}</a></td>
    <td></td>
  </tr>
  <tr bgcolor="#ECF0F6">
    <td><img src="{$ImagesDir}/individual/admin/arrow_trp.png" width="7" height="7"></td>
    <td><a href="{$ADMIN_URL}/languages.php" class="menulist">{$lang.edit_lang}</a></td>
    <td></td>
  </tr>
  <tr bgcolor="#ECF0F6">
    <td><img src="{$ImagesDir}/individual/admin/arrow_trp.png" width="7" height="7"></td>
    <td><a href="{$ADMIN_URL}/options.php" class="menulist">{$lang.product_options}</a></td>
    <td></td>
  </tr>
  <tr bgcolor="#ECF0F6">
    <td><img src="{$ImagesDir}/individual/admin/arrow_trp.png" width="7" height="7"></td>
    <td><a href="{$ADMIN_URL}/news.php" class="menulist">{$lang.news}</a></td>
    <td></td>
  </tr>
  <tr bgcolor="#ECF0F6">
    <td><img src="{$ImagesDir}/individual/admin/arrow_trp.png" width="7" height="7"></td>
    <td><a href="{$ADMIN_URL}/maillists.php" class="menulist">{$lang.maillists_manage}</a></td>
    <td></td>
  </tr>
  <tr bgcolor="#ECF0F6">
    <td><img src="{$ImagesDir}/individual/admin/arrow_trp.png" width="7" height="7"></td>
    <td><a href="{$ADMIN_URL}/newsletter.php" class="menulist">{$lang.newsletter}</a></td>
    <td></td>
  </tr>
  <tr bgcolor="#ECF0F6">
    <td><img src="{$ImagesDir}/individual/admin/arrow_trp.png" width="7" height="7"></td>
    <td><a href="{$ADMIN_URL}/backup.php" class="menulist">{$lang.backup}</a></td>
    <td></td>
  </tr>
  

  <tr bgcolor="#ECF0F6">
    <td><img src="{$ImagesDir}/individual/admin/arrow_trp.png" width="7" height="7"></td>
    <td><a href="{$PHP_SELF}?logout" class="menulist">{$lang.logout}</a></td>
    <td></td>
  </tr>
  <tr>
    <td><img src="{$ImagesDir}/individual/admin/corner_btm_lft.gif" width="12" height="11"></td>
    <td background="{$ImagesDir}/individual/admin/menu_filler.gif"><img src="../images/individual/admin/menu_filler.gif" width="1" height="11"></td>
    <td><img src="{$ImagesDir}/individual/admin/corner_btm_right.gif" width="12" height="11"></td>
  </tr>
</table>



