<div id="final_step">

{include file="modules/users/FinishedCheckout.tpl"}

 <input type="hidden" Name="APACScommand" value="NewPayment"> 
        <INPUT TYPE="hidden" Name="merchantID" VALUE="90001999"> 
        <INPUT TYPE="hidden" Name="amount" VALUE="{$int_amount}"> 
        <INPUT TYPE="hidden" Name="merchantRef" VALUE="{$orderid}" > 
        <INPUT TYPE="hidden" Name="merchantDesc" VALUE="sddssd"> 
        <INPUT TYPE="hidden" Name="currency" VALUE="0978"> <!--0978 equals Euro--> 
        <INPUT TYPE="hidden" Name="lang" VALUE="GR"> 
        <INPUT TYPE="hidden" Name="Var1" VALUE="{$productids}"> 
        <INPUT TYPE="hidden" Name="Var2" VALUE="VAR"> 
        <INPUT TYPE="hidden" Name="Var3" VALUE="reciept"> 
        <INPUT TYPE="hidden" Name="Var4" VALUE="{$payment_methods[0].id}"> 
        <INPUT TYPE="hidden" NAME="Var5" VALUE="VAR"> 
        <INPUT TYPE="hidden" NAME="Var6" VALUE="VAR"> 
        <INPUT TYPE="hidden" Name="Var7" VALUE="VAR"> 
        <INPUT TYPE="hidden" Name="Var8" VALUE="VAR"> 
        <INPUT TYPE="hidden" Name="Var9" VALUE="VAR"> 
        <INPUT TYPE="hidden" Name="CustomerEmail" VALUE="mbouclas@gmail.com"> 
        <INPUT TYPE="hidden" Name="Period"  VALUE="0" class="save">
        <INPUT TYPE="hidden" Name="ExtraCharge"  VALUE="0" class="save">
</div>