<div class="col2-set ">

<div class="col-1">
<h3>Επιλογή Καταστήματος</h3>    
<div class="seperator"></div>  
{foreach from=$shipping item=x name=b}
<div class="float-left  spacer-left">
<input type="radio" value="{$x.id}" name="shipping_method"  id="store-{$x.id}"  class="store save" {if $smarty.foreach.b.first}checked{/if} /> <label for="shipping{$x.id}">{$x.shipping}</label>
</div>
<div class="seperator"></div>
{/foreach}


</div>
<div class="col-2">
<h3>Στοιχεια Καταστήματος</h3>  
<div class="content" id="shipping_info">
<div class="seperator"></div>
{foreach from=$shipping item=x name=b}

<div  id="desc-{$x.id}" class="desc_store  spacer-left {if !$smarty.foreach.b.first}hidden{/if}"><p>{$x.description}</p></div>

{/foreach}
<div class="seperator"></div>
</div><!-- END CONTENT -->

</div>
</div>


<input type="hidden" name="total_amount" id="total_amount" value="{$total_price}" />
<input type="hidden" name="original_amount" id="original_amount" value="{$total_price}" />

{*
{foreach from=$shipping item=x}
<table width="100%" border="1" cellspacing="4" cellpadding="4" id="fields-{$x.id}" class="hidden fields">

{foreach from=$x.settings.fields item=a key=k}

<tr>
<td>{$a.label}</td>
<td>{include file="common/formFields/`$a.type`.tpl" field=$a prefix=$prefix classes='save' val=$val[$a.varName]}</td>
</tr>
{/foreach}
</table>
{/foreach}
*}
