<div id="development_box">
{if $message}
{$message}
{else}
<div id="LatestMain" style="float:left">
	<a href="{$URL}/property/{$latest.0.id}/" title="{$latest.0.title}"><img src="{$URL}/{$latest.0.image_full.thumb}" alt="Buy property in {$latest.0.location.category} Crete  {$latest.0.title}" border="0" title="Buy property in {$latest.0.location.category}  Crete {$latest.0.title}" id="DevelIMG" /></a></div><strong></strong>
<div style="float:left">
<ul id="LatestProducts">
{section name=a loop=$latest max=3}
<li><a href="{$URL}/property/{$latest[a].id}/" title="Buy property in {$latest.0.location.category}  Crete {$latest[a].title}" rel="{$latest[a].image_full.thumb}">{$latest[a].title}</a></li>
{/section}
</ul>

{/if}
</div>
<div style="clear:both;">
  <a href="{$URL}/properties/">More properties...</a>
<ul class="list" style="margin-top:5px;">
{section name=a loop=$latest start=3}
<li style="color:#3e93d6;" ><a href="{$URL}/property/{$latest[a].id}/" title="Buy property in {$latest[a].location.category} Crete {$latest[a].title}" >{$latest[a].title}</a></li>
{/section}
</ul>
</div>
<div style="clear:both"></div>
</div>