<div style="padding:10px;"><div id="map" style="width:280px; height:280px; clear:both;"></div>
<div style="clear:both">
<a href="{$URL}/properties/" title="Buy property in Crete">Properties</a>: 
<input type="checkbox" id="productsbox" onclick="boxclick(this,'products')" /> &nbsp;&nbsp;
<br />
<a href="{$URL}/locations/" title="Read info on the island of Crete">Locations</a>: 
<input type="checkbox" id="locationsbox" onclick="boxclick(this,'locations')" /> &nbsp;&nbsp;
</div></div>