<div id="tag_cloud_box">
  {foreach from=$tag_cloud item=a}
  <a href="{$URL}/tag/{$a.id}/" style="font-size:{$a.size}%" title="Buy properties in Crete with {$a.tag}" class="TagCloud">{$a.tag}</a> 
  {/foreach}
</div>