<div style="background:#0d5b9d; color:#FFFFFF; padding:15px;">
Sunrise : {$weather.SUNRISE}, Sunset : {$weather.SUNSET}
<div>
<div style="float:left; width:128px;">
<div style="height:25px;background:#e6e6e6; color:#595959; text-align:center; padding-top:5px;">{$date.today}</div>
<div style="background:#FFFFFF; color:#595959; text-align:center; padding-top:5px;"><img src="http://us.i1.yimg.com/us.yimg.com/i/us/we/52/{$weather.0.CODE}.gif" /><Br />
{$weather.0.TEXT}
<br />
low : {$weather.0.LOW}&deg;C 
<Br />
high : {$weather.0.HIGH}&deg;C
</div>
</div><!-- TODAY -->
<div style="float:left; margin-left:6px; width:128px;">
<div style="height:25px; background:#e6e6e6; color:#595959; text-align:center; padding-top:5px;">{$date.tomorrow}</div>
<div style="background:#FFFFFF; color:#595959; text-align:center; padding-top:5px;"><img src="http://us.i1.yimg.com/us.yimg.com/i/us/we/52/{$weather.1.CODE}.gif" /><Br />
{$weather.1.TEXT}
<br />
low : {$weather.1.LOW}&deg;C 
<Br />
high : {$weather.1.HIGH}&deg;C
</div>
</div>

</div><!-- FORECAST DIVS -->
<div style="clear:both"></div>
</div>