	#geocodingResults { list-style:none; padding:0; margin:0; }
	
	#geocodingResults li{
	background: #eee;
	margin-left: 10px;
	margin-top: 10px;
	padding:5px;
	padding-bottom: 1em;
	font-size: 110%;
	}
	
	#geocodingResults li a{
	margin-left: 10px;
	padding-bottom: 0;
	}
	
		.mapbox{
	width: 100%;
	height: 400px;
	background: #eee;
	}
	
	.dx h2{
	margin-left: 10px;
	padding-bottom: 0;
	}
	

	
	.pd{
	padding-left: 10px;
	padding-bottom: 1
	}
	
	#down{
	float: right;
	background: #eee;
	font-weight: bold;
	color: #666;
	font-size: 110%;
	padding: 8px;
	border-radius:8px;
	margin-top: -63px;
	text-decoration: none;
	}
	#down:hover{
	background:#607890;
	color: #fff;
	}	
	
	.example{
	width: 100%;
	padding-bottom: 4em;
	}
	
	.sx{
	width: 80%;
	float: left;
	}
	
	.dx{
	width: 20%;
	float: right;
	}
	.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }