<div style="background-color: rgb(219, 240, 194);" id="errors" class="updated fade">{if $mode eq "message"}<p>{$message}</p>{else}{foreach key=key item=item from=$error_list}
<p>{$item}</p>
{/foreach}{/if}</div>