<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="2">{$map.title}</td>
  </tr>
  <tr>
    <td width="505" align="center" valign="top">{include file="modules/maps/view_map.tpl" MAP_ID=$map_id WIDTH="500" HEIGHT="300"}</td>
    <td align="center" valign="top">{section name=a loop=$map_links}
     <strong>{$map_links[a].title}</strong><br>
     {if $map_links[a].links}
     {section name=b loop=$map_links[a].links}
     <a href="javascript:myclick({$map_links[a].links[b].id});">{$map_links[a].links[b].title}</a><br>
     {/section}
     {/if}

    {/section}</td>
  </tr>
  <tr>
    <td colspan="2">{$map.content}</td>
  </tr>
</table>
