* html #poststuff {
	height: 100%; /* kill peekaboo bug in IE */
}

a {
	border-bottom: 1px solid #69c;
	color: #00019b;
	text-decoration: none;
}


a.delete:hover {
	background: #c00;
	color: #fff;
}

ul {
	text-align:left;
	list-style:none;
	padding:0; margin:0;
}
.float-left { float:left; }
.float-right { float:right;}
.spacer-left { margin-left:10px;}
.spacer-right { margin-right:10px;}
.spacer-top { margin-top:10px;}
.spacer-bottom { margin-bottom:10px;}
.clear { clear:both;}
.scroll-container { height:200px; overflow:scroll; width:450px;}
.categories_list { height:190px; overflow:auto; border:1px solid #cccccc; padding:5px;  }
.categories_list ul { list-style:none; margin:0; padding:0;}
.categories_list li { display:block}
.inline-block{ display: inline-block; }

label.error {
	margin-left:10px; 
	color: red;
	font-style: italic;
	font-weight: normal;
}

input.error, select.error, textarea.error {
	border: 1px dotted red; background:#ffdddd;
}
label.checked {
  
}
#planetnews ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#planetnews li {
	width: 17%;
	margin: 1%;
	float: left;
}

#planetnews li a {
	display: block;
	padding: .5em;
	background: #ddd;
	height: 6em;
	overflow: hidden;
}

a.edit, a.delete, a.edit:hover, a.delete:hover {
	border-bottom: none;
	display: block;
	padding: 5px 0;
	text-align: center;
}

a.edit:hover {
	background: #ccc;
	color: #036;
}

a:visited {
	color: #006;
}

a:hover {
	border-bottom: 1px solid #3a75ae;
	color: #069;
}

body	{
	background: #f2f2f2;
	color: #000;
	margin: 0;
	padding: 0;
	text-align:center;
}

body, td {
	font: 10pt Georgia, "Times New Roman", Times, serif;
}

fieldset {
	border: 1px solid #ddd;
	-moz-border-radius: 5px;
	padding: 3px;
}

fieldset label.selectit {
	background: #f0f0f0;
	display: block;
	font-size: 11px;
	padding: 0 2px;
}

fieldset label.selectit:hover {
	background: #dadada;
}

fieldset legend {
	padding: .1em .3em;
}

fieldset span.cat-nest {
	display: block;
	margin-left: 10px;
}

fieldset.options {
	padding: 1em;
}

fieldset.options legend {
	font-size: 16px;
}

form, label input {
	margin: 0;
	padding: 0;
}

h2 {
	border-bottom: 2px solid #69c;
	color: #333;
	margin: 5px 10px;
	font-family: serif;
	font-size: 22px;
	font-weight: normal;
	font-variant: normal;
}

img, #footer a {
	border: 0;
}

input:focus, textarea:focus, label:focus {
	background: #fff;
	border: 1px solid #686868;
}

label {
	cursor: pointer;
}

li, dd {
	margin-bottom: 6px;
}

p, li, dl, dd, dt {
	line-height: 130%;
}

textarea, input, select {
	background: #f4f4f4;
	border: 1px solid #b2b2b2;
	color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 1px;
	padding: 3px;
}

.alignleft {
	float: left
}

.alignright {
	float: right;
}

.alternate {
	background: #eee;
}

.anchors {
	margin: 10px 20px 10px 20px;
}

.checkbox {
	background: #fff;
	border: none;
	margin: 0;
	padding: 0;
}

.code {
	font-family: "Courier New", Courier, monospace;
}

.commentlist li {
	border-bottom: 1px solid #369;
	padding: .3em 1em;
}

.ed_button {
	padding: 1px;
}

.hidden {
	display: none;
}

.navigation {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

.post-categories {
	display: inline;
	margin: 0;
	padding: 0;
}

.post-categories li, #ed_toolbar {
	display: inline;
}

.quicktags, .search {
	background: #ccc;
	color: #000;
	font: 12px Georgia, "Times New Roman", Times, serif;
}

.submit input, .submit input:focus, .button {
	background: url(../wp-images/fade-butt.png);
	border: 3px double #999;
	border-left-color: #ccc;
	border-top-color: #ccc;
	color: #333;
	padding: 0.25em;
}

.submit input:active, .button:active {
	background: #f4f4f4;
	border: 3px double #ccc;
	border-left-color: #999;
	border-top-color: #999;
}

.submit, #quicktags, .editform th, #postcustomsubmit {
	text-align: right;
}

.unapproved {
	color: #888;
}

.unapproved a:link {
	color: #b9bcff;
}

.unapproved a:visited {
	color: #696dff;
}

.unapproved a:hover {
	color: #009ef0;
}

.updated {
	background: #f0f8ff;
	border: 1px solid #69c;
	margin: 1em 5% 10px;
	padding: 0 1em 0 1em;
}
.updatedText {background-color: rgb(219, 240, 194); padding:10px;}
.wrap {
	background: #fff;
	border: 1px solid #ccc;
	clear: both;
}

.container {
		margin:auto;
	text-align:left;
		width:1000px;
}

.wrap h2 {
	margin: 6px 0;
}

#adminmenu {

	background: #fff;

	margin: 0;
	padding: .2em;
	clear:both;
}

#adminmenu .current1, #adminmenu2 .current1, #ed_strong, #adminmenu2 .selected  {
	font-weight: bold;
}

#adminmenu a {
	border: 1px solid #fff;
	color: #333;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding: 3px 5px;
	text-decoration: none;
}

#adminmenu a:hover, .current1,#adminmenu2 .selected  {
	background: #ccc;
	border: 1px solid #9d9d9d;
	color: #171717;
}

#adminmenu li, #adminmenu2 li {
	display: inline;
	line-height: 200%;
	list-style: none;
	text-align: center;
}

#adminmenu2 {
	border-top: 2px solid #707070;
	background: #a3a3a3;
	border-bottom: none;
	margin: 0;
	padding: 3px 2em 0;
}
#test{
  background: #ccc;
  color: #000;
}

#adminmenu2 .current1 {
	background: #f2f2f2;
	border-top: 1px solid #9a9a9a;
	border-right: 2px solid #4f4f4f;
	color: #000;
}

#adminmenu2 a {
	border: none;
	color: #fff;
	font-size: 12px;
	padding: .3em .4em .33em;
}

#adminmenu2 a:hover {
	background: #f0f0f0;
	color: #393939;
}

#adminmenu2 li {
	line-height: 170%;
}

#categorydiv {
	line-height: 130%;
	margin-right: 15px;
	position: absolute;
	right: 5%;
	width: 9em;
}

#categorydiv div {
	height: 27em;
	overflow: auto;
}

#categorydiv input, #poststatusdiv input, #commentstatusdiv input, #pingstatusdiv input {
	border: none;
}

#content, #excerpt {
	margin-left: 1%;
	width: 97%;
}

#deletepost:hover {
	background: #ce0000;
	color: #fff;
}

#ed_del {
	text-decoration: line-through;
}

#ed_em {
	font-style: italic;
}

#excerpt {
	height: 1.8em;
	width: 98%;
}

#footer {
	text-align: center;
}

#login {
	background: #fff;
	border: 2px solid #a2a2a2;
	margin: 5em auto;
	padding: 1.5em;
	width: 25em;
}

#login #login_error {
	background: #c00;
	border: 1px solid #a40000;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: .5em;
	text-align: center;
}

#login h1 {
	background: url(../wp-images/wp-small.png) no-repeat;
	margin-top: 0;
}

#login h1 a {
	display: block;
	text-indent: -1000px;
}

#login input {
	padding: 3px;
}

#login ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#login ul li {
	display: inline;
	margin-left: 1.4em;
	text-align: center;
}

#metainfo, #postdiv, #postexcerpt {
	clear: both;
}

#postcustom {
	border: 1px solid #aaa;
	padding: .5em;
	width: 97%;
}

#postcustom .updatemeta, #postcustom .deletemeta {
	margin: auto;
	width: 5em;
}

#postcustom table {
	border: 1px solid #ccc;
	margin: .5em;
	width: 98%;
}

#postcustom table input, #postcustom table textarea {
	width: 95%;
}

#poststuff {
	margin-right: 11em;
}

#profile {
	margin: 10px;
}

#profile .left {
	border-right: 1px dashed #ccc;
	float: left;
	margin-right: 5px;
	padding-right: 5px;
}

#profile label {
	float: left;
	padding-right: 3px;
	text-align: right;
	width: 85px;
}

#profile p {
	margin: 0 0 4px 0;
}

#quicktags {
	margin-right: 1%;
}

#save {
	width: 14em;
}

#simple #titlediv {
	height: 4em;
}

#template div {
	margin-right: 190px;
}

#template textarea {
	font: small 'Courier New', Courier, monospace;
	width: 99%;
}

#templateside {
	float: right;
	width: 170px;
}

#templateside h3, #postcustom p {
	margin: 0;
}

#templateside ol, #templateside ul {
	list-style: none;
	margin: .5em;
	padding: 0;
}

#titlediv, #commentstatusdiv, #postpassworddiv, #namediv, #uridiv, #emaildiv, #pageparent {
	float: left;
	height: 6em;
	margin-right: 5px;
}

#wphead {
	background: url(../wp-images/header-shadow.png) #f2f2f2 repeat-x bottom;
	padding: 1px 5px 11px;
}

#wphead h1 {
	font-size: 2.5em;
	font-weight: normal;
	letter-spacing: -.05em;
	margin: 0;
}

#wphead h1 span {
	font-size: .4em;
	letter-spacing: 0;
}

#zeitgeist {
	background: #eee;
	border: 1px solid #69c;
	float: right;
	font-size: 90%;
	margin-bottom: .5em;
	margin-left: 1em;
	margin-top: .5em;
	padding: 1em;
	width: 200px;
}

#zeitgeist h2, fieldset legend a {
	border-bottom: none;
}

#zeitgeist h3 {
	border-bottom: 1px solid #ccc;
	font-size: 16px;
	margin: 1em 0 0;
}

#zeitgeist h3 cite {
	font-size: 12px;
	font-style: normal;
}

#zeitgeist li, #zeitgeist p {
	margin: .2em 0;
}

#zeitgeist li {
	list-style:none;
	margin-bottom:5px;
}

#zeitgeist ul {
	margin: 0 0 .3em .6em;
	padding: 0 0 0 .6em;
}


/* emeyer additions */

.active td {background: #BEB;}
.active .name {background: #9C9;}
.alternate.active td {background: #ADA;}
.alternate.active .name {background: #8B8;}

.widefat {
	width: 99%;
}
.data_table {
	width:775px;
}
.widefat td, .widefat th {
	padding: 5px 6px;
}


.widefat th {
	text-align: left;
}
.wpv-tab-button {
    padding: 2px 4px 2px 4px;
    background-color: #c0c0c0;
    border: 1px solid #c0c0c0;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    color: #000000;
}
.wpv-tab-button-disabled {
    padding: 2px 4px 2px 4px;
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    border-bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.wpv-tab-button a {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    border-bottom: 0px;
}
.wpv-tab-button a:visited {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    border-bottom: 0px;
}
.wpv-tab-button a:hover {
    color: #000000;
    text-decoration: underline;
}
.wpv-tab-button-disabled a {
    color: #606060;
    text-decoration: none;
    border-bottom: 0px;
}
.wpv-tab-button-disabled a:visited {
    color: #606060;
    text-decoration: none;
    border-bottom: 0px;
}
.wpv-tab-button-disabled a:hover {
    color: #606060;
    text-decoration: underline;
}

#content {
     margin-top: 10px;
     position: relative;
}

#map {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border: 1px solid #aaa;
}

#map-wrapper {
     position: relative;
     height: 450px;
}




#sidebar {
     position: absolute;
     border: 1px solid #aaa;
     top: 0;
     width: 290px;
     height: 100%;
     overflow: auto;
}

#sidebar p {
     margin: 10px;
}

#sidebar ul#sidebar-list {
     list-style: none;
     padding: 0;
     margin: 0;
}

#sidebar ul#sidebar-list li a {
     display: block;
     border: 1px solid #ddd;
     background: #eee;
     margin: 5px;
     padding: 4px;
     font: 12px Helvetica, sans-serif;
     text-decoration: none;
     color: #444;
}

#sidebar ul#sidebar-list li a:hover {
     background: white;
     color: #555;
}

#sidebar ul#sidebar-list li a strong {
     display: block;
}
#sidebar ul#sidebar-list li a span {
     font-style: italic;
     font-size: 11px;
}

div.sidebar-right #map-wrapper { margin-right: 300px; }
div.sidebar-right #sidebar { right: 0; }

div.nosidebar #map-wrapper { margin: 0; }
div.nosidebar #sidebar { display: none; }

div.sidebar-right a#button-sidebar-show,
div.nosidebar a#button-sidebar-hide { display: none; }

#toolbar {
     background: white;
     padding: 4px;
     border: 1px solid black;
     position: relative;
}

/* holly hack for IE to get position:bottom right
   see: http://www.positioniseverything.net/abs_relbugs.html
 \*/
* html #toolbar { height: 1px; }
/* */

#toolbar h1 {
     margin: 0;
     font: bold 18px Helvetica, sans-serif;
}

#toolbar ul {
     list-style: none;
     padding: 0;
     margin: 0;
}

#toolbar ul#sidebar-controls li {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

#toolbar ul li {
     display: inline;
}

#toolbar ul li a {
     padding: 3px 6px;
     color: #444;
     text-decoration: none;
     font-size: 12px;
}

#toolbar ul li a:hover {
     color: #aaa;
     background: #444;
}

.padding {
	padding:10px;
}

.open_close_tab {
margin:0;
padding:0;
width:150px;
height:35px;
border-top:1px solid #ccc;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
}

.seperator {
	clear:both;
	margin-top:25px;
}

/* Nav Menu Classes */

div.menuBar, div.menuBar a.menuButton, div.menuButton, div.menuButton_over, div.menu, div.menu a.menuItem {
	color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;

	text-decoration:none;
}

div.menuBar {
	background-color: #F7F9FA;
	background-image: url(images/s_nav.png);
	background-repeat: repeat-x;
	border-top: 1px solid #fff;
	padding: 4px 0px;
	text-align: left;
	text-decoration:none;
}

div.emenuBar {
	background-color: #F7F9FA;
	border-top: 1px solid #fff;
	text-align: left;
}

div.menuBar a.menuButton, div.menuButton, div.menuButton_over {
	background-color: transparent;
	border: 1px solid;
	border-color: transparent !important;
	border-color: #fff #F8FAFB #F0F2F3 #F8FAFB;
	cursor: default;
	left: 0px;
	margin: 0px;
	padding: 2px 4px 2px 22px;
	position: relative;
	text-decoration: none;
	top: 0px;
	z-index: 100;
	text-decoration:none;
}

div.menuBar a.menuButton:hover, div.menuButton:hover, div.menuButton_over {
	background-color: transparent;
	border-color: #fff #a5a5a5 #a5a5a5 #fff !important;
	text-decoration:none;
}

div.menuBar a.menuButtonActive, div.menuButtonActive, div.menuButtonActive:hover, div.menuBar a.menuButtonActive:hover {
	background-color: #fff;
	border-color: #a5a5a5 #fff #fff #a5a5a5 !important;
	left: 1px;
	top: 1px;
	text-decoration:none;
}

div.menu {
	background-color: #FCFDFF;
	border: 1px solid;
	border-color: #fff #a5a5a5 #a5a5a5 #fff;
	left: 0px;
	padding: 1px;
	position: absolute;
	top: 0px;
	visibility: hidden;
	z-index: 101;
}

div.menu a.menuItem {
	cursor: default;
	display: block;
	padding: 2px 11px 2px 0px;
	text-decoration: none;
	white-space: nowrap;
	text-decoration:none;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
	background-color: #cccccc;
}

div.menu a.menuItem span.menuItemBuffer, div.menu a.menuItem:hover span.menuItemBuffer {
	padding: 0px 2px;
}

div.menu a.menuItem span.menuItemText {
	padding: 0px 0px 0px 3px;
}

div.menu a.menuItem span.menuItemArrow {
	margin-right: -.75em;
}

div.menu div.menuItemSep {
	border-top: 1px solid #a5a5a5;
	border-bottom: 1px solid #fff;
	margin: 4px 2px;
}

a.menuItem.header {
	border-bottom: 1px solid #b3b3b3;
}
.dashboard_box {
	width:70px;
	height:60px;
	border:1px solid #cccccc;
	float:left;
	text-align:center;
	padding:5px;
	margin-right:30px;
}

.dashboard_box_last {
	margin-right:0;
}
.dashboard_box_first {
	margin-left:40px;
}

#aditional_links 
{
	margin:0;
	padding:0;
}

#aditional_links li
{
	list-style: none;
	float:left;
	margin-right:5px;
}

#in_this_section {
	float:right;
	margin-right:0;
	
}
#in_this_section ul { list-style:none; width:100%; margin:0}
#in_this_section li { float:left; margin-right:10px; background:url(/images/admin/tab-bg.jpg) repeat-x; color:#000; padding:5px; border:1px solid silver; border-top:none; }
#in_this_section li a { color:#000; text-decoration:none;  }
#in_this_section .last { margin:0 }

.pagination_box {
	border: 1px solid #06C;
}

#all_categories h3 {
	margin:0;
	padding:0;
	font-size:12px;
	color:#333;
}

#all_categories ul {
	padding:0;
	margin:0;
	margin-left:15px;
}

#all_categories li 
{
	list-style:none;
	list-style-image:url(/images/admin/arrow.gif);
	margin-bottom:5px;
}

.red, .red a, .red select { color:#F00; }
.green {
	color: #090;
}

/* PAGINATION */
.pagination{
padding: 2px;
padding-right:15px;
}

.pagination ul{
margin: 0;
padding: 0;
text-align: center; /*Set to "right" to right align pagination interface*/
font-size: 14px;
}

.pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

.pagination a, .pagination a:visited{
padding: 0 5px;
border: 1px solid #00019b;
background-color:#fff;
text-decoration: none; 
color: #333;
}

.pagination a:hover, .pagination a:active{
border: 1px solid #00019b;
color: #fff;
background-color: #069;
}

.pagination a.currentpage{
background-color: #069;
color: #FFF !important;
border-color: #00019b;
font-weight: bold;
cursor: default;
color:#fff;
}

.pagination a.disablelink, .pagination a.disablelink:hover{
background-color: white;
cursor: default;
color: #929292;
border-color: #929292;
font-weight: normal !important;
}

.pagination a.prevnext{
font-weight: bold;
}

/* Filters */
.filters input, .filters select, .filters td {font-size:11px; }

.TableSubHead { background:#f0f0f0; }

#SearchTabs  {
	width: 100%;
	padding:0;
	margin:0;
	background:#A3A3A3;
}

#SearchTabs li {
	display: inline;
}

#SearchTabs li a {
	line-height: 31px;
	background: #A3A3A3;
	color: #fff;
	display: block;
	float: left;
	padding: 0 8px;
	margin-right: 2px;
}

#SearchTabs li a.selected, #SearchTabs li a:hover {
	background: #F0F0F0;
	color:#000000;
	text-decoration:none;
}

#tab-container { margin-top:0; padding:0; clear:both;   }
.search-bar{padding:10px; clear:both;}
.search-bar .search-style{font-size:16px; color:#999999; border:solid 1px #CCCCCC; padding:4px;}

.available { color:green }
.non_available { color:#F90}
.unavailable { color:red }
/* Complete */
.blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}


/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
	vertical-align: top;
}

div.fieldset {
	border:  1px solid #afe14c;
	margin: 10px 0;
	padding: 20px 10px;
}
div.fieldset span.legend {
	position: relative;
	background-color: #FFF;
	padding: 3px;
	top: -30px;
	font: 700 14px Arial, Helvetica, sans-serif;
	color: #73b304;
}

div.flash {
	width: 375px;
	margin: 10px 5px;
	border-color: #D9E4FF;

	-moz-border-radius-topleft : 5px;
	-webkit-border-top-left-radius : 5px;
    -moz-border-radius-topright : 5px;
    -webkit-border-top-right-radius : 5px;
    -moz-border-radius-bottomleft : 5px;
    -webkit-border-bottom-left-radius : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-bottom-right-radius : 5px;

}

/* progress bar container */
#progressbar{
        border:1px solid black;
        width:200px;
        height:20px;
        position:relative;
        color:black; 
}
/* color bar */
#progressbar div.progress{
        position:absolute;
        width:0;
        height:100%;
        overflow:hidden;
        background-color:#369;
}
/* text on bar */
#progressbar div.progress .text{
        position:absolute;
        text-align:center;
        color:white;
}
/* text off bar */
#progressbar div.text{
        position:absolute;
        width:100%;
        height:100%;
        text-align:center;
}
.FileQueue {
	width: 500px;
	height: 300px;
	overflow: auto;
	border: 1px solid #E5E5E5;
	margin-bottom: 10px;
	padding:5px;
}

.ImageResizeSettings { font-size:12px;  }
.height-100 { height:100px; }
.dragHandle { cursor:move;}

    #mask{ 
        position:absolute; /* important */
        top:0px; /* start from top */
        left:0px; /* start from left */
        height:100%; /* cover the whole page */
        width:100%;  /* cover the whole page */
        display:none; /* don't show it '*/          
        
        /* styling bellow */
        background-color: black; 
    }
    
    .modal_window{
        position:absolute; /* important so we can position it on center later */
        display:none; /* don't show it */
        
        /* styling bellow */
        color:white;
    }
    
    /* style a specific modal window  */
    #modal_window{
        padding:50px;
        border:1px solid gray;
        background: #246493;
        color:black;
    }
	
#TagsList { list-style:none;}
#TagsList li { float:left; margin-right:10px; }
.UsedCategories { padding:5px; }
#ColumnRight { width:300px; }
#ColumnLeft { width:680px; }
#ColumnRight h2, #ColumnLeft h2 { padding:10px; background:#ebebeb; font-size:14px; color:#464646; font-weight:bold; margin:0 }
#ColumnRight h3, #ColumnLeft h3 { padding:2px; margin:0; margin-bottom:5px; border-bottom:1px solid silver; color:#464646 }
#ColumnLeft .ContentTitle { width:650px; height:25px; }

#IdTabs  {
	width: 100%;
	padding:0;
	margin:0;
}

#IdTabs li {
	display: inline;
}

#IdTabs li a {
	line-height: 31px;
	background: #034694;
	color: #fff;
	display: block;
	float: left;
	padding: 0 8px;
	margin-right: 2px;
}

#IdTabs li a.selected, #IdTabs li a:hover {
	background: #ed1c24;
	color:#fff;
	text-decoration:none;
}
#tab-container { margin-top:0; padding-top:0; padding-top:10px;   }
#tab-container h2,#tab-container h3  {  margin-bottom:5px;  line-height:14px;  }
#tab-container h2 a { font-weight:bold;color:#000; font-size:12px; }
#tab-container h3 a { font-weight:bold; font-size:12px; }
#tab-container h3 { font-weight:bold;}
#tab-container .product { border-right:1px solid #e0e0e0; margin-right:20px;}
#tab-container .last{ border:0; margin:0; }
#tab-container .spacer { margin-left:10px; }
#tab-container p { padding-left:15px; }
#tab-container .more { float:right; margin-right:10px; }
#tab-container .manufacturer { width:100px;  }

#VideoThumbs li { float:left; margin-right:10px; margin-bottom:10px; }
.msg { width:200px; height:200px; overflow:scroll; }

#languageTabs li a.selected, #languageTabs li a:hover {
	font-weight:bold;
}

ol {
			margin: 0;
			padding: 0;
			padding-left: 30px;
		}
 
		ol.sortable, ol.sortable ol {
			margin: 0 0 0 25px;
			padding: 0;
			list-style-type: none;
		}
 
		ol.sortable {
			margin: 4em 0;
		}
 
		.sortable li {
			margin: 7px 0 0 0;
			padding: 0;
		}
 
		.sortable li div  {
			border: 1px solid black;
			padding: 3px;
			margin: 0;
			cursor: move;
		}
		.placeholder {
			background-color: #cfcfcf;
		}
 
		.ui-nestedSortable-error {
			background:#fbe3e4;
			color:#8a1f11;
		}
.messagePlaceHolder { padding:5px; }
.messageWarning { border:1px solid #ff4400; background:#ffdddd; color:#ff443a;; }
.messageInfo {  background-color:#dbf0c2; border:1px solid #8b967d; }
.multiSelect { width:370px; }

div#lang-container{}
div#lang-container ul{
    text-align: center;
}

div#lang-container .radios ul{
    left: -16%;
}

div#lang-container .radios ul li{
    height: 20px;
    padding: 20px 0;
    width: 125px;
    float:left;
}

div#lang-container .radios ul li input{
    width: 20px !important;
}

div#lang-container ul li{
    left: 140px;
    list-style-type: none;
    position: relative;
    width: 70%;
}
div#lang-container ul li span{
    font-size: 18px;
    left: -125px;
    position: absolute;
    text-align: right;
    top: 20px;
    width: 30%;
}
div#lang-container ul li label{}
div#lang-container ul li label input{
    border: 1px solid #DADADA;
    border-radius: 5px 5px 5px 5px;
    font-size: 16px;
    margin: 10px 0;
    padding: 5px;
    width: 70%;
}
.mapbox{
width: 100%;
height: 400px;
background: #eee;
}
