<script id="resultsTemplate" type="text/x-kendo-template">
like 
# $.each(data[0].featured,function(k,a) { #
		# if (a.item.image_full) { #
		<div style="float:left;"><img src="#= a.item.image_full.thumb #" /></div>
		# } #
		<div style="float:left;"><h3>#= a.item.title #</h3></div><br style="clear: both;"/>
		<div>#= a.item.description #</div>
		<div class="seperator"> </div>
# }); #

</script>