<script id="resultsTemplate" type="text/x-kendo-template">

# console.log(data[0].item.detailed_images); #
<a href="\\#" data-bind="click: doActions" data-method="actionUrl" data-href="/facebook/ajax/{$FRONT_LANG}/pages/#= data[0].item.category.categoryid #/#= data[0].item.permalink #.html">Image gallery</a>
<img src="#= data[0].item.detailed_images.images.originals #" width="#= data[0].item.detailed_images.images.image_full.originals.image_x #" height="#= data[0].item.detailed_images.images.image_full.originals.image_y #" />
<div id="comment-id">
	<div class="fb-comments" data-href="http://apps.facebook.com/fbtetrapak/\\#facebook/ajax/en/image/#= data[0].item.id #/#= data[0].item.detailed_images.images.image_full.originals.imageid #/index.html" data-num-posts="10" data-width="470"></div> 
</div>


	<script>
		FB.XFBML.parse(document.getElementById("comment-id"));
	</script>
	
</script>
