<script id="resultsTemplate" type="text/x-kendo-template">

# $.each(data[0].item,function(k,a) { #

# if (a.image_full != null ) { #
	# img = a.image_full.thumb; #
# } #

# }); #

<img src="#= img #" />

# $.each(data[0].item,function(k,a) { #

		<div style="float:left;"><h3>#= a.title #</h3></div><br style="clear: both;"/>
		<div>#= a.description #</div>
		<div class="seperator"> </div>

# }); #

</script>

