<div id="privacy" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Privacy Policy</h3>
</div>
<div class="modal-body">
<h4>Header 1</h4>
<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>
<h4>Header 2</h4>
<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>
<h4>Header 3</h4>
<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>
<h4>Header 4</h4>
<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>
<h4>Header 5</h4>
<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>
<h4>Header 6</h4>
<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>


</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

</div>
</div>