<div id="terms" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">TERMS OF SERVICE</h3>
</div>
<div class="modal-body">
<p>Dekoho (hereinafter mentioned as ‘the Company’) is a private limited liability company (Ltd) located in 8, Michalaki Karaoli street, Nicosia, Cyprus, established according to the laws of Cyprus and registered in the trade register of Nicosia Chamber of Commerce and Industry under No. HE311997, having the T.I.N. 10311997 T. The following document sets forth the terms and conditions that govern all services provided to hotel owners (hereinafter mentioned as ‘Hoteliers’) at our Company’s website www.dekoho.com and more specifically through our control panel designed for that purpose. Before subscribing to our website and control panel provided by our Company, we advise you to consult the following Terms of Service and make certain that you agree to comply with and be bound by these terms. Your continued browsing and use of Dekoho website constitutes an express and unconditional acceptance of and consent to the following Terms of Service. In case you disagree with any part of these terms, please do not use www.dekoho.com website nor the applications and/or services provided by it.
</p>

<h4>1.  DEFINITIONS</h4>
<p>
The following terms, whenever used in these Terms of Use with the first letter capitalized, shall have the corresponding meanings assigned to them, as follows:
<br/><br/>
“Hotelier” means the owner of a hotel subscribed to our Company’s services at www.dekoho.com. 
<br/><br/>
“User” means the person who uses and/or browses our Company’s website, and/or the Traveler that uses our services. 
<br/><br/>
“Website” means our Company’s website, www.dekoho.com. 
<br/><br/>
“Application” means our Company’s application designed for mobile devices. 
<br/><br/>
“You” or “your” refer to you, as a User of our services or Hotelier.
</p>

<h4>2. TERMS & CONDITIONS</h4>
<p>The present Terms of Service constitute a continuation and integral part of the Terms of Use, as published at the Company’s website www.dekoho.com and govern the use and browsing of this website by any visitor. The Company reserves the right to modify or revise these Terms of Service as required for the provision of our online services. The content of these terms and conditions extends automatically to the Company’s affiliates that provide online services to Hoteliers worldwide under Dekoho’s trade name. The Company is obliged to notify Hoteliers for any future amendments or changes to these terms by email at their submitted email address.  </p>
<h4>3.  PROVIDED SERVICES</h4>
<p>The Company offers hotels the opportunity to promote their services and inform Users of www.dekoho.com website on their rooms available for reservation, by subscribing to our special online control panel, while the users/travelers can proceed to such online reservations. The Company operates solely as an intermediary between the hotel and user/traveler of www.dekoho.com website.  </p>
<h4>Subscription</h4>
<p>In order to promote and display his available rooms at www.dekoho.com, the Hotelier must create an account by filling in his email address and setting his own personal password. Upon acceptance of the present Terms of Service, the Hotelier shall receive a confirmation email informing him of his personal unique ID number as well as the procedure to be followed in order to confirm his subscription. More specifically, during the subscription confirmation procedure at www.dekoho.com website and in order for his subscription to be completed, the Hotelier is requested to fill in or upload at the designated fields information regarding his hotel (name, location, star rating, description, number of rooms, photos, videos, provided services, room description, prices etc) as well as his hotel policies on several issues (policy on cancellation, payment, arrivals, services etc). Moreover, for his subscription to the Company’s website www.dekoho.com to be completed, the Hotelier shall have to fill in all required information in order to verify the legitimacy of his business (trade name, legal form, address, TIN, tax office etc) as well as his contact information for easy and direct communication with the Company if need be.  </p>
<h4>Subscription Fee</h4>
<p> Hotel promotion services are provided by the Company to the Hotelier for the annual fee of eleven (11) euros (VAT not included) per hotel, paid to the Company electronically either by charging the amount to the Hotelier’s credit card or via PayPal service, or by making a deposit in our Company’s checking account at HELLENIC BANK Public Co Ltd (Cyprus). The Hotelier is required to provide his credit card information during subscription procedure so that the above amount will be charged. 
<br/>In addition, if the Hotelier wishes to offer some of his hotel rooms at a special price for a certain period (Offer), he is required to pay to our Company the amount of one (1) euro for each special offer. </p>
<h4>Subscription Approval </h4>
<p>As soon as the Hotelier completes his subscription procedure through the special control panel by submitting the information required according to these Terms of Service, the Company is obliged to check the validity, completeness and accuracy of the submitted data and reply to the Hotelier by email within at least 96 hours informing him on the approval or non-approval of his Hotel subscription at www.dekoho.com website and granting him access to further use of the provided services. It is noted that the Company reserves the right to reject Hotelier’s subscription to www.dekoho.com website, if the submitted information is deemed inadequate, false or inaccurate or for any other reason at its discretion. Should the Company reject the Hotelier’s subscription at www.dekoho.com, it is obliged to inform the Hotelier of such rejection and return amount of fees already paid <b>within 40</b> days from sending the relevant email of non-confirmation of subscription.</p>
<h4>Personal webpage set-up </h4>
<p>As soon as the Company approves the Hotelier’s subscription to www.dekoho.com website, the Hotelier may use the control panel provided by the Company at the website to set up and manage his hotel’s webpage, as this appears at www.dekoho.com website, in any way he wishes to (i.e. upload photos of his hotel, provide offers, add information etc) always in accordance with the present Terms of Service. Thus, the Hotelier has full and personal control of the information posted at www.dekoho.com website about his hotel. It is declared that in any case all information posted by the Hotelier from time to time at www.dekoho.com website through the control panel he has subscribed to is subject to prior approval by the Company before its final publishing, as provided in the above. </p>
<h4>Mobile Application</h4>
<p>The Company offers the Hotelier the option to use www.dekoho.com webpage and control panel services via his mobile phone, smartphone or other similar portable device by using the Company’s Application specifically designed for that purpose. During use of the mobile application, the User/Hotelier is asked to click on the option “I agree”, by which he declares that he agrees to be bound by all terms of use and conditions (including the present terms) that govern the use of www.dekoho.com website and control panel (indicatively but not limited to the total content and information included in the website, rights and responsibilities of the Company etc). If the Hotelier does not wish to be bound by the aforementioned Terms of Service of www.dekoho.com website, he shall have to click on the button ‘I disagree’ and proceed to uninstall the Application from his mobile device. The above Application is provided exclusively for personal use and its use for any other, commercial or illegal purpose is strictly prohibited. The Application is intellectual property belonging to the Company pursuant to national, european and international legislation in force and therefore any direct or indirect, total or partial, copying, reproduction, decomposition, distribution, transfer, lease, translation, integration, adjustment or any other alteration or editing of this Application and its content, in violation of current legislation and relevant provisions on intellectual property rights is strictly prohibited. The Company is in no way liable as for the proper use and connection of user/Hotelier’s device to the internet or charges made by the internet provider for the use of this Application.</p>
<h4>Currency converter application</h4>
<p>Within the scope of our Company’s services, a currency converter is provided at the control panel used by the Hotelier, solely for informational purposes. Since the actual rates may differ, the rates given through the currency converter should in no way be deemed accurate or updated. Therefore, the Company shall not be liable for the accuracy of information provided online via the aforementioned currency converter. </p>
<h4>4. FURTHER COMMUNICATIONS / NEWSLETTER</h4>
<p>Within the scope of services provided by the Company through www.dekoho.com control panel, the Hotelier hereby agrees to receive at his email address a) a confirmation email at the first stage of his subscription which provides him with a special personal ID number, b) an email of approval of his subscription or the information he posts following the relevant check, as provided above, and c) a reminder email informing him that his subscription to provided services at www.dekoho.com website is due to expire after the lapse of one year from the date of subscription and providing information on the renewal of his contract with the Company in order to continue participating to www.dekoho.com network of services. The Company shall not send any further notifications emails or any other correspondence (targeted or of general content), other than the above emails, unless the Hotelier has specifically agreed otherwise through the control panel used by him or he has chosen to receive certain notifications for his own benefit.</p>
<h4>5. CREDIT CARD PAYMENT </h4>
<p>In order to complete the subscription procedure and to remain subscribed to the network of services provided by the Company at www.dekoho.com website after one year from the date of subscription, the Hotelier is requested to fill in his credit card information so as to charge his account with the Company’s fee, as provided above. An SSL (Secure Sockets Layer) encryption protocol is used to safeguard the privacy of data transfer and security of credit card information of the Hotelier. If the Hotelier chooses payment via PayPal, the most commonly used and secure payments method, PayPal’s procedure and transaction terms and conditions will be followed. </p>
<h4>6. DISCLAIMER</h4>
<p>Access to www.dekoho.com is permitted only under the Server’s terms of service and other technical requirements and specifications of www.dekoho.com website. The Company does not warrant that access to www.dekoho.com will be uninterrupted or error free, or that those errors will be corrected on this website or that the server that hosts www.dekoho.com is free of computer viruses or other harmful elements.

The Hotelier hereby accepts that the Company expressly disclaims any liability relating to, directly or indirectly, in part or in total, each hotel’s personal webpage management through the control panel provided at www.dekoho.com website. More specifically, the Company is not liable for any content posted on www.dekoho.com website relating to the Hotelier’s hotel, since the Company has no right to access the Hotelier’s control panel in order to edit or modify it in any way. The Hotelier remains exclusively responsible for operating an editing the control panel and for the appearance of each hotel’s webpage at www.dekoho.com webpage, according to the present Terms of Service. 
Furthermore, the Company bears no responsibility for the contractual relationship created by using www.dekoho.com website between the Hotelier and the Traveler and therefore disclaims any liability arising out of or relating to completing or not a reservation, cancellation or non-arrival policy or any other policy and/or procedure in relation to the Traveler’s reservation (i.e. cancellation) and/or stay at the Hotelier’s hotel.  
In any case, the Company provides the Hotelier the possibility, if he so wishes, to contact the Company through the option “Help” provided on www.dekoho.com control panel, in order to report any problem or make an inquiry over any subject related to the website’s operation. The Company shall make any possible effort to render any service and satisfy the Hotelier without being able to guarantee, thus not being liable for the results of that effort.

Under no circumstances will the Company be liable for any claims of legal, civil or penal, nature, or any other damage (incidental, special or consequential, such as, indicatively but not limited to, disjunctively and/or cumulatively, profit loss, data loss, indirect loss of profit, pecuniary compensation etc.) by Hoteliers connected to www.dekoho.com website or any third party on grounds relating to the operation or non-operation (i.e. computer virus spreading, data loss) or use of this website and the control panel, or/and impossibility of performance, or /and information obtained through this website, or/and any third-party unauthorised interference with products and/or information obtained through this website (i.e. interception or decryption of codes and data). 

The Company and third parties contributing material in www.dekoho.com or involved in any way in the creation, production or publishing of this website, its applications and the control panel shall assume no liability (contractual, tortuous, criminal or other) for any direct, indirect, material or immaterial, incidental or consequential damage arising out of or relating to access, browsing, use or impossibility to use this website and/or the control panel, as well as information and suggestions contained in www.dekoho.com or downloading of any material, text, data, images, video or sound files from this website. Such liability includes, indicatively, any damage caused by errors (bugs), actions or omissions, interruptions, flaws, computer viruses, data loss, unauthorized access and modification of Hotelier’s messages and data, by any computer system, phone line, hardware or software, program malfunction, or any other error, omission or delayed transmission by the computer or internet connection etc. 

The present website and control panel provided to Hoteliers may contain links to other websites, for which the Company disclaims any responsibility for the availability, contents, privacy and security policy or any services provided by these sites, as it is the third parties (natural or legal persons) that have control over and therefore are liable for these websites. By visiting the present website and using its control panel, the Hoteliers acknowledge that the Company is not liable for any problems that may arise during their visit/use of websites linked to www.dekoho.com.

The Company is not responsible for the content of any third-party (natural or legal person) advertisements that may be shown on the present website or the control panel provided to Hoteliers under any form (indicatively but not limited to, banners, pop-up windows, pop-down windows etc), as it is not in position to check or verify the accuracy of such third-party advertising content.</p>

<h4>7. INTELLECTUAL PROPERTY RIGHTS</h4>

<p>The Hotelier expressly agrees and accepts to assign, transfer and grant the Company a worldwide non-exclusive license to use all material and content posted at www.dekoho.com website through the control panel in relation to his hotel (including indicatively contents, texts, photos, graphics, trademarks, videos, features etc), authorizing the Company to use, reproduce, process, modify, assign and transmit such material in any way without limitation and to the extent that such is deemed necessary for further promotion and advertising of the hotel as well as the Company and www.dekoho.com website for as long as the Hotelier remains subscribed to its services. The Hotelier expressly and unconditionally acknowledges that he is the rightful owner of intellectual or industrial property rights on the above material and content and does not infringe intellectual or industrial rights of third parties. Should such infringement of intellectual property rights of third parties incur, the Hotelier shall be liable to compensate the Company on these grounds as well as pay any incidental or consequential damages that the Company may suffer as a result of such infringement of third-party rights. 

However, it is declared that all further content of the webpage and the control panel, including (indicatively but not limited to) all o its components (source code, software etc), images, graphics, photos, designs, texts, works that belong to the Company’s intellectual property or have been lawfully assigned to the Company and are protected by the relevant provisions of greek and european law and international conventions. The copying, analogue/digital reproduction and transmission, distribution, transfer, downloading, alteration, resale, creation of derivative works from or misleading the public over the identity of the actual provider of this website’s content is strictly prohibited. Any reproduction, republishing, uploading, display, distribution or transfer or other use of the content by any other means or in any way for commercial or other purposes is only permitted after a prior written consent of the Company or any other beneficiary of such intellectual property rights. The names, images, logos and distinctive attributes representing the Company, www.dekoho.com website and/or third parties connected to the Company are exclusive trademarks owned by the Company and are protected under greek, european and international laws on trademarks and intellectual and industrial property.  Under no circumstances should their display and presentation at www.dekoho.com be in any way construed as a transfer of ownership or granting a license or right to use them.</p>  

<h4>8. HOTELIER’S LIABILITY</h4>
<p>The Hotelier using www.dekoho.com shall use this website at his own risk and responsibility, using his own technical means. The Company assumes no responsibility relating to ensuring, facilitating access to websites or providing relevant assistance to any party concerned. The Hotelier is exclusively liable for any damage that may be caused to his computer system or any data loss arising from downloading material from this website. 

The Hotelier acknowledges and accepts full and exclusive responsibility for the management in general of his hotel’s personal webpage through the control panel provided for that purpose at www.dekoho.com website as well as for its appearance to the public. More specifically, the Hotelier is personally responsible for updating his webpage at www.dekoho.com webpage and all information relating to his hotel (indicatively but not limited to, availability, room offers, photo uploading, prices, policy on services and operation etc) For this reason, the Hotelier is held exclusively liable for the accuracy, completeness and reliability of all information posted on www.dekoho.com website and expressly disclaims any claim against the Company regarding the aforementioned. Furthermore, the Hotelier is exclusively liable for completing the user/traveler’s reservation as well as for any claim that may arise out of the contractual relationship between the Hotelier and the User created by the user’s online reservation and automatic acceptance of the General terms of use, as shown at www.dekoho.com website. Therefore, the Hotelier is solely responsible for the applicable policy, course and conclusion of cancellations and charging. The Hotelier acknowledges and accepts that the Company operates solely as an intermediary between him and the User/traveler making a reservation at www.dekoho.com website, therefore the Company shall assume no liability for the later course of the User’s reservation, cancellation, non-arrival or stay and/or any other event arising directly or indirectly from the contractual relationship between the Hotelier and the User. 


Hoteliers using www.dekoho.com and its provided control panel hereby acknowledge that all information posted and submitted by him to this website and/or the control panel is accurate, complete and true and that he is the full and rightful owner of all accompanying content (i.e. photos, videos etc). Furthermore, the Hotelier accepts that he may not use www.dekoho.com and its control panel to send, publish, email or otherwise transmit any content that is unlawful, harmful, threatening, offensive, embarrassing, profane, obscene, slanderous, defamatory or libelous, that violates third-party confidentiality, is prejudicial or expresses racial, national or other discrimination, may harm minors in any way, that is not allowed to be published according to the law or contractual or administrative relationships (such as inside information, proprietary and confidential information obtained or disclosed as part of work relationships or covered by confidentiality agreements), that infringes any patents, trademarks, intellectual rights or other property rights owned by third parties, that contains computer viruses or any other codes, files or executable programs designed with the intent to disrupt, harm, damage or obstruct the function of any computer software or hardware, that intentionally or inadvertently violates current greek and european laws and regulations, that may harass third parties in any way, as well as any content used to collect or store personal information concerning other users or third parties. 

The Hotelier hereby agrees to be legally bound to and comply with the Greek laws and especially the provisions of internet / telecommunications legislation. Should the Hotelier cause any technical damage to the website or systems that transmit this website to users/travelers, he is liable for any injuries arising out of such damage and bears all expenses for its restitution.  </p>
<h4>9. PERSONAL DATA PROTECTION / COOKIES</h4>
<p>In order to subscribe at www.dekoho.com through the provided control panel and manage his personal webpage, the Hotelier is requested to provide his personal information (name, email address, telephone number, credit card number, exact geographical location of his hotel etc). Personal data submitted to any of www.dekoho.com webpages and services as well as to the control panel managed by himself are solely intended for the purpose of ensuring proper function of the relevant service and are not allowed to be used by any third party, unless in compliance with the provisions of L.2472/97 on protection from personal data processing, as currently in force. All personal data submitted by the Hotelier are stored and used exclusively by the Company in order to ensure proper operation of provided services, support, promotion and performance of the contractual relationship between them and/or in case of emergency to facilitate contact between Hotelier and User during a reservation. Archived data may be disclosed to competent judicial, police and other administration authorities upon their legal request in accordance with the current legislation in force. 
This website uses cookie technology. Disabling cookies may make it impossible to conveniently navigate the website, which is why Hoteliers accept this from the outset. While visiting the website for the first time a permanent “cookie” (small text file) will be assigned and stored on the Hotelier’s hard drive. Cookies are used whilst successively visiting a website in order to “personalize” it. The Hotelier may visit the website without enabling cookies; however he will not be able to use all webpage options or enjoy its special features. Cookies settings may be changed through the browser’s “Help” menu. </p>
<h4>10. SECURITY</h4>
<p>The Company acknowledges the importance of security and privacy of Hoteliers’ personal data and internet transactions, therefore has taken all appropriate measures, using the most updated and advanced methods, to safeguard the security of personal data in the most effective way. All information relating to Hoteliers’ personal data and transactions remain secure and confidential. 

The codes used for Hoteliers’ personal identification are: Identification (ID) Code and Personal Access Code (Password), which allow each time safe access of Users/Hoteliers to their personal data and hotel webpage through the control panel designed for that purpose. The Hotelier is given the possibility to change his Personal Access Code (password) and email address as often as he wishes. In case of password loss or revealing he must proceed to immediately inform our Company, otherwise the Company is not liable for the use of his password by any unauthorized party. The Company recommends the Hotelier to regularly change password and avoid using the same or easily detectable passwords (i.e. date of birth). 

In order to ensure the privacy of transmitted data, the Company uses the SSL (Secure Sockets Layer) encryption protocol. SSL Protocol is currently an international standard providing security for websites visited by internet users, used for the encryption of data transmitted between internet users and web servers. An encrypted SSL connection requires all information sent between a client and a server to be encrypted by the sending software and decrypted by the receiving software, thus providing a high degree of confidentiality while transmitting personal information. In addition, all data sent over an encrypted SSL connection are protected with a mechanism for detecting tampering – that is, for automatically determining whether the data have been altered in transit. Access to the Company’s servers is controlled by a firewall, which allows the use of specific services by the Hoteliers while it blocks access to systems and databases which include confidential information owned by the Company. Any personal information (addresses, telephone numbers etc) provided by the Hotelier at any part of the website is encrypted. 

At no point shall the Company store the Hotelier’s credit card information. However, the system may automatically, after the first payment made by the Hotelier at www.dekoho.com website and provided control panel, store his credit card information in order to facilitate any following payments that may be made through the control panel and are related exclusively to the hotel’s personal webpage setup and proper operation of the Company’s provided services. If the Hotelier chooses payment via PayPal, he is then automatically redirected to PayPal’s website where he is requested to enter his credit card information. After payment is completed, he returns to www.dekoho.com website and the payment procedure followed is determined by PayPal service according to its special terms and conditions. For more information regarding procedure and security of payments via PayPal, please consult PayPal’s website.   

Maintaining confidentiality is considered self-evident. All information transmitted by the Hotelier to the Company is confidential and the Company has taken all appropriate measures in order to make use of it only when such is deemed necessary. More specifically, access to Hotelier’s information is restricted solely to authorized employees only when such is reasonably required. In addition, the Company shall not disclose Hotelier’s information, unless upon written permission by the Hotelier or if such is required pursuant to a court order or other competent authority’s decision. Should the Company use third parties for its system support, it shall take all measures to safeguard confidentiality. The Hotelier may request to access and receive any data that concern him, as well as their correction if he can provide evidence of errors. For his own safety, the Hotelier should also handle all information provided through our service as confidential and not proceed to any disclosure of such information to third parties.   </p>
<h4>11. GOVERNING LAW</h4>
<p>Any dispute arising out of the use of services or relating to any other reason between the Hotelier and the Company shall be governed by the Greek laws and resolved in the courts of Athens. 

The original text of these Terms of Service in Greek language shall be regarded as the authentic text. An official translation into English shall be provided at our website. To the extent the translated version conflicts with the original text, the Greek version prevails.

Should any provision of these Terms of Service be declared null and void or unenforceable in accordance with the legislation currently in force, such null and void or unenforceable provision shall be deemed replaced by another, valid and enforceable, that conforms best to the purpose of the initial provision, whereas the rest of these terms shall continue to be binding for the Hotelier. 

For any inquiry or further information, please use the option ‘Help’ provided at the website’s control panel or visit our contact page.

</p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

</div>
</div>