<input type="text" name="{$prefix}{$field.var_name|default:$field.varName}"  class="{$classes}" id="{$prefix}{$field.var_name|default:$field.varName}" value="{$val}" {$extra} /> 
<a href="#" class="imageUpload" data-mediaType="image" data-fileTypes="jpg;jpeg;png" rel="{$prefix}{$field.var_name|default:$field.varName}">Select file</a>