<div id="footer-wrapper">
	 <div class="content">
	
	<hr>
	
	<div class="float-left" id="fotoer-menu">
	          <ul class="bottom-menu float-left">
			  	
			  		<li class="bottom-menu-item"><a href="#">{$lang.terms_of_service}</a>&nbsp;</li>
			  		
		  		</ul> 
		  		
	</div>
	<div class="float-right spacer-right">
		  <span class="copy spacer-right">&copy; Copyright 2013 Dekoho All Rights Reserved</span>
		  </div>
	</div> <!-- end footer-content --> 
	<div class="seperator"></div>
	</div>