	
	{foreach from=$settings.get key=k item=a name=b}
			<input type="hidden" name="{$k}" class="grid_posted" data-grid="gridview"  value="{$a}"  />
	{/foreach}
	
	{foreach from=$settings.modules key=k item=a name=b}
			<input type="hidden" name="modules[]" class="modules"  value="{$a}"  />
	{/foreach}
	
	<input type="hidden" name="url" class="url"  value="{$settings.url}"  />		
		<table id="gridview">
		 	<thead>
      		<tr>
      			{foreach from=$settings.columns item=a name=b}
      				<th data-order="{$a.order}" data-field="{$a.field}" data-width="{$a.width}" data-sortable="{$a.sort}" data-filterable="false" data-type="string"  data-title="{$lang[$a.title]}">{$a.title}</th>	
          		{/foreach}
          		<th  data-template="">&nbsp;</th>
      		</tr>
  			</thead>
		</table>
		
		<script type="text/javascript" src="/scripts/admin2/content/content.js"></script>





		
		
  		