				
				<div id="tabStrip">
    			<ul>
        			{foreach from=$modules item=a name=b}	
        				{if $smarty.foreach.b.first}<li class="k-state-active" data-module="{$a}">{$a}</li>{else}<li data-module="{$a}">{$a}</li>{/if}		
        			{/foreach}
    			</ul>	
    			{foreach from=$modules item=a name=b}	
    				<div>
    					<table id="gridsview_{$a}">
		 					<thead>
      							<tr>      		
      								{foreach from=$settings.columns item=a name=b}		
      									<th data-order="{$a.order}" data-field="{$a.field}" data-width="{$a.width}" data-type="string" data-title="{$a.title}">{$a.title}</th>	
          							{/foreach}
          							<th>&nbsp;</th>
      							</tr>
  							</thead>
						</table>
    				</div>
    				{/foreach}
				</div>
				
				{$ftpl}
		
		
     	
             <script type="text/javascript"  src='/scripts/admin2/categories/gridCategories.js'></script>
 