#CPMenu 
{

width: auto;
border: 0;	
background-color: transparent;
margin: 3px;
color: white;			
}

#CPMenu .k-icon 
{
background-image: url("/skin/images/admin2/arrow_down.png");
}
				
				
#CPMenu .k-arrow-down
{
background-position: 0px; 0px;
}
				
#CPMenu .k-group .k-image 
{
padding: 5px;
}
				
#top_bar li 
{
padding:0;
}
				
#CPMenu .k-group .k-link img 
{
vertical-align: middle;
}
				
#CPMenu .k-group .k-link 
{
color: black;
}

#CPMenu .k-group
{
min-width: 150px;
border:0;
text-decoration: none;
}			
				
#CPMenu .k-group .k-link:hover 
{
background-color: #ddd;
}
		