@charset "utf-8";
/************* CSS Document for dekoho.com *************/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
  margin:0;
  padding:0;
  border:0;
  vertical-align:baseline;
}

body
{
  background: #fff;
  font-size: 12px;
  font-family: Verdana, Tahoma, Geneva, sans-serif;	
  line-height:1.5;
}

/************* General CSS *************/

.icons-fix { width: 23px; width: 23px; }
.tac { text-align:center; }
.hidden {display:none; }
.float-left { float:left; }
.float-right { float:right;}
.spacer-left { margin-left:10px;}
.spacer-right { margin-right:10px;}
.spacer-top { margin-top:10px;}
.spacer-top2 { margin-top:15px;}
.spacer-bottom { margin-bottom:10px;}
.seperator { height:10px; clear:both; }
.padding { padding: 10px; }
.padding-left { padding-left: 10px; }
.padding-right { padding-right: 10px; }
.padding-top { padding-top: 10px; }
.padding-top-small { padding-top: 5px; }
.padding-bottom { padding-bottom: 10px; }
.clear { clear:both; }
.clear_0 { clear:both; font-size:0px; line-height:0px; display:block; }
.last { margin:0 !important; }
.pad_last { padding:0 !important; }
.no_bg { background:none !important; }
.inline-block { display: inline-block; }
.line-through { text-decoration: line-through; }
#min-height { min-height:300px; }
.help {cursor:help;}
.width130 { width:110px; }
.bold {font-weight:bold;}
.width284 {width:284px;}
#paddlr0 {padding-left:0px; padding-right:0px; width:80px;}

/************* end General CSS *************/


/************* Wrappers - Site Containers *************/

#wrapper { }

#header-wrapper 
{
  height: 20px;
  background-color:#7c7a7b;	
  width:100%;
  margin:0;
  padding:5px 0px 5px 0px;
} 

.content 
{
  width: 1000px;
  margin: auto;
  z-index: 99;
  position: relative;
}

#top-wrapper
{
  margin: 0;
  width: 100%;
  padding:0px 0px 0px 0px; 
}
	
#map-wrapper 
{
  background-color:#95bde0;	
  width:100%;
  margin:0;
  padding:25px 0px 15px 0px;
} 

#page-wrapper
{
  margin: 0;
  width: 100%;
  padding:30px 0px 25px 0px;
}

.left-column-main
{  
  width:300px; 
  float:left; 
  margin:0px 50px 0px 0px; 
}

.right-column-main
{ 
  width: 650px; 
  float:left; 
}

.left-column-inner
{
  width:255px; 
  float:left; 
  margin:0px 50px 0px 0px; 
}		

.right-column-inner
{ 
  width: 695px; 
  float:left; 
}

#footer-wrapper
{
  margin: 0;
  width: 100%;
  padding:20px 0px 20px 0px;
  position: relative;
  z-index:0;
}
		
/************* end Wrappers - Site Containers *************/




/************* Site Stuff *************/



/************* Top Menu / Bar *************/

.top-menu { }

.menu-item
{
  float:left; 
  padding-right:26px; 
  list-style-type:none;
}			

.menu-item a 
{
  color:#fff;
  text-decoration:none;
}		

.menu-item a:hover
{
  color:#fff;
  text-decoration:underline;	
}

.menu-item .active 
{
  font-weight:bold;	
}

.social-icons
{
  padding-right:20px;	
}

.icon
{
  float:left;
  padding-right:5px;
  list-style-type:none;
}

#currency-language span
{
  color:#fff;	
  
}		

.currency
{
  padding-right:10px;	
}

#currencyForm {
	margin:0px;
}

/************* end Top Menu / Bar *************/



/************* Logo and Top banner *************/

#logo-banner-container
{
  padding:30px 0px 30px 0px;  	
}

/************* end Logo and Top banner *************/


/************* Hotelier Login / Create account *************/


#htl-login
{
  background-color:#fff;
  width:1000;
  
  padding:20px;
}
#login-msg
 {	
 padding-right:45px;
 width:61%;
 }	
 
 #lg-form 
 {
  width:34%; 
 }
 #ca-form 
 {
  width:34%; 
 }
 
#create-acct
{
  margin-top:40px;	
}		
	
.register-img {
  float:left;
  padding:15px 0px 0px 0px;
  clear:both;
		
}		 
/************* end Hotelier Login / Create account *************/


/************* PRofile *************/

.the-form { background-image: -moz-linear-gradient(center top , #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);}
.mand {font-size:20px; right:4px; position:relative; top:3px; }
.icon-size { width:25px; height:25px;}
/************* end Profile *************/


/************* Dashboard *************/

.nav-list a { font-size:16px; }
#nomarginl { margin-left:0px;}
#label-dash { font-size:20px; padding:15px; margin-right:45px; }
#label-dash-last { font-size:20px; padding:15px; }
.stars { font-size:18px;}
.font-10 {font-size:10px;}
#home-bkg {background-image:url('/images/site/bg_dashboard.jpg');}
.white {color:#fff;}
/************* end Dashboard *************/

/************* hotel Photos *************/

.spacer-photo { margin-right: 28px; }
.nav-tabs > li.float-right { float:right;}
/************* hotel Photos *************/


/************* add offer *************/
.table-addoffer {border-right:1px solid #DDDDDD; border-bottom:1px solid #DDDDDD; width:400px;}

/************* end add offer *************/
/************* location **************/
.border-loc ul { height: 400px; width: 200px; overflow:auto; }
.border-loc ul .bold {font-weight: bold;} 
.border-loc { border-right: 1px solid #D4D4D4; }
.border-loc .delete { color: red; } 
.places {width: 495px; height: 500px; }
/***********    end location **********/

/************* Bottom banner and Footer *************/


.bottom-menu-item
{
  color:#413f40;
  float:left; 
  padding-right:10px; 
  list-style-type:none;
}			

.bottom-menu-item a 
{
  color:#413f40;
  text-decoration:none;
}		

.bottom-menu-item a:hover
{
  color:#413f40;
  text-decoration:underline;	
}

.copy
{
  color:#413f40;
}

/************* end Bottom banner and Footer *************/

/************* end Site Stuff *************/


.chzn-container {
    display: inline-block;
    font-size: 13px;
    position: relative;
}

.chzn-container-multi .chzn-choices {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center top , #EEEEEE 1%, #FFFFFF 15%);
    border: 1px solid #AAAAAA;
    cursor: text;
    height: auto !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.chzn-container-multi .chzn-choices .search-choice {
    background-clip: padding-box;
    background-color: #E4E4E4;
    background-image: -moz-linear-gradient(center top , #F4F4F4 20%, #F0F0F0 50%, #E8E8E8 52%, #EEEEEE 100%);
    border: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px #FFFFFF inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: default;
    line-height: 13px;
    margin: 3px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    position: relative;
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
    background: url("chosen-sprite.png") no-repeat scroll right top transparent;
    display: block;
    font-size: 1px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 12px;
}

/************  Checkbox ***********/
.checkboxFive {
	width: 25px;
	position: relative;
}

/**
 * Create the box for the checkbox
 */
.checkboxFive label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #eee;
	border:1px solid #ddd;
}

.checkboxFive label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */
.checkboxFive label:hover::after {
	opacity: 0.5;
}
/**
 * Create the checkbox state for the tick
 */
.checkboxFive input[type=checkbox]:checked + label:after {
	opacity: 1;
}

/***** icons *****/

#thumbs .activate {
border: solid 2px #468847;
}
#thumbs .deactivate {
border: solid 2px #b94a48;
}
#thumbs .pending {
border: solid 2px #f89406;
}

