
<div id="page-wrapper">
			<div class="content">
Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you. You may log into your account at www.paypal.com to view details of this transaction
</div>
</div>