{include file="modules/content/admin/menu.tpl"}
{include file="modules/content/search_box.tpl" mode="small_admin" action_title=$content.title}
<div class="wrap padding seperator">

<h2><a href="{$MODULE_FOLDER}/categories.php">{$lang.categories}</a> (<a href="{$MODULE_FOLDER}/categories.php#addcat">add new</a>) {include file="modules/content/nav_categories.tpl" management=$lang.categories target="admin_categories"}</h2>


<form name="latest_content_form" method="post">
{include file="modules/content/admin/display_content_table.tpl" content=$content type="edit" form_name="latest_content_form" page="category_content.php"}
</form>
</div>