
<TABLE border="0" cellpadding="2" cellspacing="1" width="100%">
<INPUT type="hidden" name="cat_org" value="{$smarty.get.cat|escape:"html"}">
<input type="hidden" name="CurrentCatid" id="CurrentCatid" value="{$catid|default:0}" />
<TR class="TableHead">
<TD width="2%" class="TableHead">{$lang.pos}</TD>
<TD class="TableHead">#ID</TD>
<TD class="TableHead">{$lang.title}</TD>
<td class="TableHead">&nbsp;</td>
</TR>
{if $links}
{section name=a loop=$links}
<TR {cycle values=", class='TableSubHead'"}>
<TD width="2%"><input name="content_order-{$links[a].id}" type="text" value="{$links[a].content_order}" size="3" maxlength="3"></TD>
<TD>#{$links[a].id}</TD>
<TD><a href="content_modify.php?id={$links[a].id}" class="ItemsList">{$links[a].title}</a></TD>
<td><input name="button2" type=button value="{$lang.delete}"  onclick="deleteRelated({$links[a].id},'related_content');"></td>

</TR>
{/section}
<tr><td colspan="4"><input type="hidden" name="action" value="updateFeatured" /><input type="submit" value="{$lang.save}" /></td></tr>
{else}
<TR>
<TD colspan="5" align="center">{$lang.txt_no_items}</TD>
</TR>
{/if}
</table>

